<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">
<!-- wrap_header_area -->
<div class="desktop_contents clearfix">
    <!-- section_header -->
    <section class="section_header">
        <header>
            <div class="title">슈퍼S 냉온정수기</div>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->
</div>
<!--//wrap_header_area-->

<!-- wrap_contents_area -->
<div class="wrap_contents_area">

    <!-- section_info_page -->
    <section class="section_info_page top_menu">
        <div class="area_info_page">
            <h2>연결 실패</h2>
            <div class="img"></div>
            <p>등록하신 슈퍼2 정수기를 연결 할 수 없습니다. <br>가전상태 및 가전연결 네트워크를 확인해 주세요.</p>
        </div>
    </section>
    <!-- //section_error -->

    <section class="section_btn bottom_btn bottom_fixed">
        <div class="area_btn btn_inline">
            <button class="btn btn_lg btn_skyblue btn_block">Wi-Fi 재설정</button>
            <button class="btn btn_lg btn_blue btn_block">재시도</button>
        </div>
    </section>

    <!-- //section_info_page -->

</div>
<!-- //wrap_contents_area-->

</body>
</html>
