<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">
    <!-- section_header -->
    <section class="section_header">
        <header>
            <div class="title">슈퍼S 냉온정수기</div>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->
</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">
    <div class="desktop_col">

    <!-- section_history_alarm -->
    <section class="section_history_alarm">
        <ul class="alarm_no_list">
            <li>
                <div class="day">
                    <div class="icon"></div>
                </div>
                <div class="history_box">
                    <p class=""><span class="sprite sprite_common sprite_notice_alarm">?</span>가전사용 이력 및 알림이 없습니다.</p>

                </div>
            </li>
            <li>
                <div class="day">
                    <div class="icon"></div>
                </div>

            </li>

                   </ul>
    </section>
    <!-- //section_history_alarm -->

</div>
<!-- wrap_contents_area -->
</div>
</body>
</html>
