<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">
<!-- section_header -->
<section class="section_header">
    <header>
        <button class="sprite sprite_common sprite_back">뒤로</button>
        <div class="title">슈퍼쿡 가스레인지</div>
        <button class="sprite sprite_common sprite_setting"></button>
    </header>
</section>
<!-- //section_header -->

<!-- section_menu -->
<section class="section_menu">
    <div class="area_menu">
        <div class="moving">
            <ul class="clearfix">
                <li class="active"><a href="#"><span>상태표시</span></a></li>
                <li><a href="#"><span>제품작동</span></a></li>
                <li><a href="#"><span>사용통계</span></a></li>
                <li><a href="#"><span>사용설명</span></a></li>
                <li><a href="#"><span>관리이력</span></a></li>
                <li><a href="#"><span>납부정보</span></a></li>
                <li><a href="#"><span>이력 및 알림</span></a></li>
                <li><a href="#"><span>사용자 관리</span></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- //section_menu -->
</div>
<!-- //wrap_header_area -->

<!-- wrap_contents_area -->
<div class="wrap_contents_area">
<div class="wrap_bg_gray">
    <!-- section_graph_sensor -->
    <section class="section_graph_sensor">
        <button class="update"><span class="sprite sprite_common sprite_update">?</span>업데이트</button>
        <div>
            <img src="../../../images/page/@temp_graph_sensor.png" alt=""></div>
    </section>
    <!-- //section_graph_sensor -->

    <!-- section_cook_guide -->
    <section class="section_cook_guide">
        <p class="title">온도별 요리 가이드</p>
        <p class="desc"><span>다이얼을 돌려 설정한 온도에 맞추면 우측 대버너 화력이 자동 조절 됩니다.</span><br>
            * 용기 재질에 따라, 설정된 예열온도 및 조리 온도의 차이가 있을 수 있습니다.</p>
        <ul>
            <li>
                <p class="box_heat">80℃ 예열</p>
                <span class="heat">프라이팬이 80℃로 예열되어 조리물을 넣기에 적합합니다.</span>
            </li>
            <li>
                <p>140℃</p>
                <span>냄비 조리시 조리물이 쉽게 타지 않도록 화력을 조절합니다. <br>(예 - 감자삶기, 닭볶음탕, 김치찜 등)</span>
            </li>
            <li>
                <p>160℃</p>
                <span>간단한 프라이, 저온 튀김요리에 적합한 온도입니다. <br>(예 - 토스트, 소시지, 계란프라이, 오징어 튀김</span>
            </li>
            <li>
                <p>180℃</p>
                <span>구이, 튀김요리에 적합한 온도입니다. <br>(예 - 삼겹살, 생선구이, 군만두, 돈가스, 고구마 튀김 등)</span>
            </li>
            <li>
                <p>210℃</p>
                <span>고온에서 조리하는 볶음, 부침 요리에 적합한 온도입니다.</span>
            </li>
            <li>
                <p class="heat">290℃</p>
                <span>화재를 방지하기 위해 자동으로 가스불이 소화됩니다.</span>
            </li>
        </ul>


    </section>
    <!-- //section_cook_guide -->

</div>
</div>
<!-- //wrap_contents_area-->
</body>
</html>
