<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- section_header -->
<section class="section_header">
    <header>
        <div class="title">정보 입력</div>
        <button class="sprite sprite_common sprite_popup_close"></button>
    </header>
</section>
<!-- //section_header -->

<div class="wrap_bg_light_gray">
<!-- section_register_form -->
<section class="section_register_form">
    <ul>
        <li>
            <span>생년월</span>
            <div class="form_birth">
                <select class="select">
                    <option value="">1987</option>
                    <option value="">1988</option>
                    <option value="">1989</option>
                    <option value="" selected>1990</option>
                    <option value="">1991</option>
                    <option value="">1992</option>
                    <option value="">1993</option>
                    <option value="">1994</option>
                </select>
                <label for="">년</label>

                <select class="select">
                    <option value="">01</option>
                    <option value="">02</option>
                    <option value="">03</option>
                    <option value="" selected>04</option>
                    <option value="">05</option>
                    <option value="">06</option>
                    <option value="">07</option>
                    <option value="">08</option>
                    <option value="">09</option>
                    <option value="">10</option>
                    <option value="">11</option>
                    <option value="">12</option>
                </select>
                <label for="">월</label>
            </div>
        </li>
        <li>
            <span>성별</span>
            <div class="form_gender">
                <label><input type="radio" class="input_radio" name="name1" checked="">남성</label>
                <label><input type="radio" class="input_radio" name="name1" checked="">여성</label>
            </div>
        </li>
        <li>
           <span>지역</span>
            <div>
                <select class="select select_block">
                    <option value="">시/도</option>
                </select>
            </div>
        </li>
        <li>
           <span>구입처</span>
            <div>
                <select class="select select_block">
                    <option value="">선택</option>
                </select>
            </div>
        </li>
        <li>
           <span>기존제품</span>
            <div>
                <select class="select select_block">
                    <option value="">선택</option>
                </select>
            </div>
        </li>
        <li>
           <span>구입형태</span>
            <div>
                <select class="select select_block">
                    <option value="">선택</option>
                </select>
            </div>
        </li>

    </ul>
    <div class="txt_etc">
    <p>고객님의 정보는 향후 맞춤형 할인혜택 및 빠른 A/S 서비스에 활용됩니다. </p></div>
</section>
<!-- //section_register_form -->

<section class="section_btn bottom_btn no_bg">
    <div class="area_btn">
        <button class="btn btn_lg btn_skyblue btn_block">확인</button>
    </div>
</section>
</div>

</body>
</html>
