<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">
<!-- section_header -->
<section class="section_header">
    <header>
        <button class="sprite sprite_common sprite_back">뒤로</button>
        <div class="title">슈퍼쿡 가스레인지</div>
        <button class="sprite sprite_common sprite_setting"></button>
    </header>
</section>
<!-- //section_header -->

<!-- section_menu -->
<section class="section_menu">
    <div class="area_menu">
        <div class="moving">
            <ul class="clearfix">
                <li class="active"><a href="#"><span>상태표시</span></a></li>
                <li><a href="#"><span>제품작동</span></a></li>
                <li><a href="#"><span>사용통계</span></a></li>
                <li><a href="#"><span>사용설명</span></a></li>
                <li><a href="#"><span>관리이력</span></a></li>
                <li><a href="#"><span>납부정보</span></a></li>
                <li><a href="#"><span>이력 및 알림</span></a></li>
                <li><a href="#"><span>사용자 관리</span></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- //section_menu -->
</div>
<!-- //wrap_header_area -->


<!-- wrap_contents_area -->
<div class="wrap_contents_area">
<!-- section_manual -->
<section class="section_accordion">
    <ul class="accordion_list">
        <!-- 리스트 다운 펼쳤을 때 li 요소 class 추가 'focus' -->
        <li class="focus"><span>끓이고 알림 / 끓이고 꺼짐 사용방법</span><button class="arrow_btn"></button>
            <ul class="sub_list">
                <li>설명서 보기</li>
                <li>동영상 보기</li>
            </ul>
        </li>
        <li><span>온도유지 조리기능 사용방법</span> <button class="arrow_btn"></button></li>
        <li><span>가스레인지 간단 청소방법</span><button class="arrow_btn"></button></li>
        <li><span>기능안내 및 문제해결 방법</span><button class="arrow_btn"></button></li>
    </ul>
</section>
<!-- //section_manual -->

<div class="section_btn bottom_btn">
    <div class="btn_inline">
        <button class="btn btn_lg btn_skyblue btn_manual"><span class="sprite sprite_common sprite_call_sm"></span>서비스 센터</button>
        <button class="btn btn_lg btn_blue btn_manual"><span class="sprite sprite_common sprite_manual_sm"></span>메뉴얼 보기</button>
    </div>
</div>
</div>
<!-- //wrap_contents_area-->
</body>
</html>
