<div class="list_title">
    <p>내 학교</p>
    <button class="btn btn_round _moveMainPage"><span class="sprite sprite_common sprite_all_list"></span>전체학교</button>
</div>
<div class="list_school_card none_card_list">
    <p class="none_list_desc">
        <span></span>
        등록된 <em>내 학교</em>가 없습니다.
    </p>
    <p class="none_list_etc">
        자주 찾는 학교/학급을 내 학교로 등록하여<br>편리하게 공기상태를 확인하세요.
    </p>
</div>
<div class="area_btn_rg">
    <a href="#localeList" class="btn"><span class="sprite sprite_common sprite_plus_btn">+</span>내 학교 등록</a>
</div>