<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">

    <!-- section_header -->
    <section class="section_header">
        <header>
            <button class="sprite sprite_common sprite_back">뒤로</button>
            <div class="title">슈퍼3정수기 냉온정</div>
            <button class="sprite sprite_common sprite_setting"></button>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->

</div>
<!-- //wrap_header_area -->

<!-- wrap_contents_area -->
<div class="wrap_contents_area">

    <!-- section_main -->
    <section class="section_main section_purify">
        <div class="bg bg_super_purify">
            <div class="area_title">
                <p>바로 만드는 새물!탱크 없는 슈퍼3정수기</p>
                <div class="box_title">
                    <h1>
                    <span>My 슈퍼2 </span><button class="align_center sprite sprite_purify sprite_edit"></button>
                    </h1>
                </div>
                <div class="box_remain">
                    <div class="img_purify">
                        <div class="purify_loader"></div>
                    </div>
                    <div class="txt_status">
                        <p>코크 살균 중입니다.</p>
                        <p>남은시간 10:00분</p>
                    </div>
                </div>
            </div>
            <div class="area_info">
                <div class="box_info yellow">
                    <div class="circle_status">
                        <span class="sprite sprite_purify sprite_lock"></span>
                        <!-- 잠금일 때 클래스 : sprite_lock -->
                        <!-- 이상일 때 클래스 : sprite_warning -->
                        <span class="txt_label">미온/유아수</span>

                    </div>
                    <div class="txt_status">
                        <div class="temperature">
                            <span>45<em></em></span>
                            <span><em></em>5</span>
                        </div>
                        <p>정상 작동 중입니다.</p>
                    </div>
                </div>
                <div class="box_info orange">
                    <div class="circle_status">
                        <span class="sprite sprite_purify sprite_hot"></span>
                        <span class="txt_label">온수</span>
                    </div>
                    <div class="txt_status">
                        <div class="temperature">
                            <span>85<em></em></span>
                            <span><em></em>5</span>
                        </div>
                        <p>정상 작동 중입니다.</p>
                    </div>
                </div>
            </div>

            <div class="area_txt">
                출수 온도는 출수 후, 30분간만 표시되며 실제온도와 편차가 발생할 수 있습니다.
            </div>
        </div>
    </section>
    <!-- //section_main -->

    <!-- section_slide -->
    <section class="section_function section_slide section_super_0 clearfix">
        <div class="area_function">
            <span>밝기조절</span>
            <div>
                <div class="slide_toggle">
                    <em class="line01"></em>
                    <em class="line02"></em>
                    <em class="line03"></em>
                    <input type="radio" class="slide_radio" name=slide_radio" style="left:-10px;" checked>
                    <input type="radio" class="slide_radio" name=slide_radio" style="left:50%;margin-left: -10px;">
                    <input type="radio" class="slide_radio" name=slide_radio" style="right:-10px;">
                    <p class="txt01">OFF</p>
                    <p class="txt02">약하게</p>
                    <p class="txt03">강하게</p>
                </div>
            </div>
        </div>
    </section>
    <!-- //section_slide -->

    <!-- section_toggle -->
    <section class="section_function section_toggle section_super_0 toggle_col_2">
        <div class="area_toggle">
            <span>버튼음</span>
            <div>
                <input type="checkbox" class="checkbox_toggle" checked>
            </div>
        </div>
        <div class="area_toggle">
            <span>코크 살균 알림 LED</span>
            <div>
                <input type="checkbox" class="checkbox_toggle">
            </div>
        </div>
    </section>
    <!-- //section_toggle -->

    <!-- section_on_off -->
    <section class="section_function section_on_off section_super_0">
        <div class="area_on_off">
            <span>ON/OFF</span>
            <div class="box_on_off col_4">
                <div>
                    <input type="checkbox" class="toggle_purify bottom_warm" disabled>
                    <label>유아수/미온수</label>
                </div>
                <div>
                    <input type="checkbox" class="toggle_purify bottom_hot" checked>
                    <label>온수</label>
                </div>
                <div>
                    <input type="checkbox" class="toggle_purify children">
                    <label>어린이 취수</label>
                </div>
                <div class="last">
                    <span class="right">기능 잠금</span>
                    <input type="checkbox" class="toggle_purify top_purify">
                    <label>살균</label>
                </div>
            </div>
        </div>
    </section>
    <!-- //section_on_off -->

</div>
<!-- //wrap_contents_area-->

</body>
</html>
