<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">

    <!-- section_header -->
    <section class="section_header">
        <header>
            <button class="sprite sprite_common sprite_back">뒤로</button>
            <div class="title">슈퍼S 냉온정수기</div>
            <button class="sprite sprite_common sprite_setting"></button>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->

</div>
<!-- //wrap_header_area -->


<!-- wrap_contents_area -->
<div class="wrap_contents_area">
    <!-- section_payment_info -->
    <section class="section_payment_info">
        <div class="area_payment_info">
            <div class="box_row">
                <div class="info_box contract">
                    <div class="info_title"><span class="sprite sprite_common sprite_contract_num">?</span>계약번호</div>
                    <span class="info_desc"></span>
                </div>
                <div class="info_box model">
                    <div class="info_title"><span class="sprite sprite_common sprite_model">?</span>모델</div>
                    <span class="info_desc"></span>
                </div>
            </div>
            <div class="box_row">
                <div class="info_box payment_method">
                    <div class="info_title"><span class="sprite sprite_common sprite_payment_method">?</span>수납방식</div>
                    <span class="info_desc"></span>
                </div>
                <div class="info_box payment_day">
                    <div class="info_title"><span class="sprite sprite_common sprite_payment_day">?</span>수납일자</div>
                    <span class="info_desc"></span>
                </div>
            </div>
            <div class="box_row">
                <div class="info_box nonpaymen_won">
                    <div class="info_title"><span class="sprite sprite_common sprite_won">?</span>미납금액</div>
                    <span class="info_desc"></span>
                </div>
                <div class="info_box nonpaymen_num">
                    <div class="info_title"><span class="sprite sprite_common sprite_nonpayment_num">?</span>미납회차</div>
                    <span class="info_desc"></span>
                </div>

            </div>
            <div class="box_row">
                <div class="info_box none_history">
                    <div class="info_title"><span class="sprite sprite_common sprite_account_info">?</span>계좌정보</div>
                    <span class="info_desc">납부 이력이 없습니다.</span>
                </div>
            </div>
        </div>

    </section>
    <!-- //section_payment_info -->

</div>
<!-- //wrap_contents_area-->

</body>
</html>
