@media (max-width : 1700px) {
    html,body {
        font-size: 15px;
    }
}
@media (max-width: 1600px) {
    html,body {
        font-size: 14px;
    }
}
@media (max-width: 1480px) {
    html,body {
        font-size: 13px;
    }
}
@media (max-width: 1350px) {
    html,body {
        font-size: 12px;
    }
}
@media (max-width: 1200px) {
    html,body {
        font-size: 11px;
    }
}
@media (max-width: 1024px) {
    html,body {
        font-size: 10px;
    }
    .main_txt .welcome {
        font-size: 5em;
        white-space: nowrap;
    }
    .main_txt .desc {
        font-size: 2.3em;
        white-space: nowrap;
    }
    .scroll_btn {
        top: -4.1em;
        width: 14rem;
        height: 4.1rem;
        margin-left: -7rem;
    }
    .scroll_btn a {
        font-size: 1.7em;
        line-height: 4.1rem;
    }
    .item_about .lb,
    .item_about b {
        font-size: 1.8em;
    }
    .text_about {
        font-size: 13px;
    }

    .section_profile {
        min-height: auto;
        padding-bottom: 4em;
    }
    .area_prjct h1 {
        font-size: 2.3em;
    }
    .area_prjct {
        max-width: 800px;
    }
    .item_work {
        width: 45%;
        height: 22.5em;
        margin: 0 2.5% 5em;
    }
    .close_modal {
        z-index: 500;
        color: #000;
        right: 2rem;
        top: 0.5rem;
    }
    .modal_contents {
        margin: 0 auto;
        max-width: none;
    }
    .pj_name {
        font-size: 2.3em;
    }
    .modal_head span,
    .modal_head a {
        font-size: 16px;
    }
    .desc_pj p {
        font-size: 15px;
    }
    .desc_pj .page_desc, .img_pj_box .page_desc {
        font-size: 17px;
    }

}
@media (max-width: 650px) {
    .main_txt .welcome {
        font-size: 2.5em;
    }
    .main_txt .desc {
        font-size: 1.7em;
    }
    .scroll_btn {
        top: -3.5rem;
        height: 3.5rem;
        width: 12rem;
        margin-left: -6rem;
    }
    .scroll_btn a {
        font-size: 1.3em;
        line-height: 3.5rem;
    }
    .item_about .lb, .item_about b {
        font-size: 1.3em;
    }
    .text_about {
        font-size: 11px;
    }
    .layout_left,.item_about,.my_photo {
        width: 100%;
    }
    .layout_right {
        width: 100%;
        padding-top: 0;
    }
    .area_prjct {
        max-width: 300px;
    }
    .item_work {
        width: 100%;
        height: 18.5em;
    }
    .pj_name {
        font-size: 1.8em;
    }
    .modal_head span, .modal_head a,
    .desc_pj .page_desc, .img_pj_box .page_desc {
        font-size: 13px;
    }
    .desc_pj {
        padding: 0;
    }
    .desc_pj p {
        font-size: 12px;
    }
    .img_pj_box {
        padding: 1em 0;
    }
    .close_modal {
        font-size: 2.8em;
    }
    .modal_contents {
        min-height: 100vh;
    }

}

