<div class="area_box_list" data-makernm="{{makerNm}}">
    <div id="power"></div>
    {{#each openDeviceList}}
        {{#isMode fncCd}}
            <div id="mode"></div>
        {{/isMode}}
    {{/each}}
    {{#each openDeviceList}}
        {{#isVolume fncCd}}
            <div id="volume"></div>
        {{/isVolume}}
    {{/each}}
    {{#each openDeviceList}}
        {{#isPurifySignLamp fncCd}}
            <div id="purifysignlamp"></div>
        {{/isPurifySignLamp}}
    {{/each}}
    {{#each openDeviceList}}
        {{#isRemoveVirus fncCd}}
            <div id="removevirus"></div>
        {{/isRemoveVirus}}
    {{/each}}
    <div id="turnOff"></div>
    <div id="usereport"></div>
    {{#isAlarm actMsg}}
        <div id="alarm"></div>
    {{/isAlarm }}
    <div id="infomation"></div>
</div>