<div class="area_school_air bg_white"></div>
<div class="area_box_list" data-makernm="{{makerNm}}">
    <div id="power"></div>
    <div id="mode"></div>
    <div id="volume"></div>
    <div id="plasmaWave"></div>
    <div id="turnOff"></div>
    <div id="filterUsed"></div>
    <div id="alarm"></div>
    <div id="infomation"></div>
</div>