<div class="box_air_all">
    <ul class="clearfix">
        <li>
            <p class="name">온도</p>
            <p class="index">25<em>℃</em></p>
            <span class="sprite sprite_status sprite_worse">아이콘</span>
        </li>
        <li>
            <p class="name">습도</p>
            <p class="index">45<em>%</em></p>
            <span class="sprite sprite_status sprite_bad">아이콘</span>
        </li>
        <li>
            <p class="name">미세먼지</p>
            <p class="index">128<em>㎍/㎥</em></p>
            <span class="sprite sprite_status sprite_good">아이콘</span>
        </li>
        <li>
            <p class="name">초미세먼지</p>
            <p class="index">128<em>㎍/㎥</em></p>
            <span class="sprite sprite_status sprite_normal">아이콘</span>
        </li>
        <li>
            <p class="name">화학물질</p>
            <p class="index">602<em>ppm</em></p>
            <span class="sprite sprite_status sprite_good">아이콘</span>
        </li>
        <li>
            <p class="name">이산화탄소</p>
            <p class="index">602<em>ppm</em></p>
            <span class="sprite sprite_status sprite_bad">아이콘</span>
        </li>
    </ul>
</div>