<div class="box_graph">
    <div id="line_chart" class="graph_line"></div>
    <div id="container" class="graph_line"></div>
    <div class="legend">
        <p> <span class="line"></span> <span>오늘</span></p>
        <p><span class="dash"></span> <span>어제</span></p>
    </div>

    <div class="tooltip-marker-good" style="display: none">
        <span>90</span>
    </div>
    <div class="tooltip-marker-bad" style="display: none">
        <span>44</span>
    </div>

</div>