<div class="box_card _infomation">
    <p class="card_title"><a href="#">정보<span class="sprite sprite_common sprite_more">?</span></a></p>
    <div class="info_product clearfix">
        <div class="img">
            <img src="images/default_img.png" alt=""></div>
        <div class="info_desc">
            <p>현대통신 실내공기센서</p>
            <p>1-1 실내센서</p>
            <span>고객센터 1800-0212</span>
        </div>
    </div>
</div>