<div class="box_card _mode">
    <p class="card_title title_set">모드 설정</p>
    <div class="box_setting">
        <ul class="clearfix">
            <li class="focus"><a href="#"><span>영유아</span></a></li>
            <li><a href="#"><span>일반</span></a></li>
        </ul>
    </div>
</div>