<div class="popup_dim">
    <div class="popup_cs" style="width: 267px;height: 283px;">
        <div class="popup_header">
            <div class="title">스마트 수화방송</div>
        </div>
        <div class="popup_body">
            <ul class="_section active">
                <li class="focus"><span>수화 크기조절</span></li>
                <li><span>수화 위치변경</span></li>
                <li><span>수화 화면분할</span></li>
                <li><span>설정초기화</span></li>
            </ul>
        </div>
        <div class="popup_footer">
            <div class="btn_group _section">
                <div class="btn focus"><span>닫기</span></div>
            </div>
        </div>
    </div>
</div>