<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">
<!-- section_header -->
<section class="section_header">
    <header>
        <div class="title">가전 등록</div>
    </header>
</section>
<!-- //section_header -->
</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">
    <div class="desktop_col ">
        <div class="col_box">
<section class="section_indicator">
    <div class="indicator">
        <ul>
            <li class="visited"><span>Wi-Fi 연결</span></li>
            <li class="active"><span>AP 설정</span></li>
            <li><span>AP 연결</span></li>
            <li><span>가전명 설정</span></li>
        </ul>
    </div>
</section>

<!-- section_register_contents -->
<section class="section_register_contents">
    <p class="title">
        ERAH310 AP 모드설정
    </p>
    <div class="img_ap_setting"></div>
    <p class="desc"> 전원이 켜진 상태에서 Wi-Fi 버튼을<br>1회(5초간) 눌러 Wi-Fi를  ON 시키세요</p>
    <div class="img_appliance"><img src="../../../images/page/@temp_appliances_img.png" alt=""></div>
</section>
<!-- //section_register_contents -->



<!-- section_btn -->
<section class="section_btn bottom_btn">
    <div class="area_btn btn_inline">
        <button class="btn btn_lg btn_gray btn_block">이전</button>
        <button class="btn btn_lg btn_skyblue btn_block">다음</button>
    </div>
</section>
<!-- //section_btn -->
        </div>
    </div>
</div>
</body>
</html>
