<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">
<!-- desktop_header -->
<section class="section_header">
        <header>
            <div class="title">가전등록</div>
        </header>
    </section>
    <!-- //section_header -->
</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">
    <div class="desktop_col">
        <div class="col_box">
    <!-- section_appliance_list -->
    <section class="section_appliance_list">
        <p class="title">등록하실 제품군을 선택해 주세요</p>
        <ul>
            <li>
                <div class="img"><img src="../../../images/common/img_air_cleaner.png" alt=""></div>
                <a>슈퍼청정기</a>
            </li>
            <li>
                <div class="img"><img src="../../../images/common/img_purify.png" alt=""></div>
                <a>정수기</a>
            </li>
            <li>
                <div class="img"><img src="../../../images/common/img_gas_stove.png" alt=""></div>
                <a>가스레인지</a>
            </li>
            <li>
                <div class="img"><img src="../../../images/common/img_induction.png" alt=""></div>
                <a>전기레인지</a>
            </li>
            <li>
                <div class="img"><img src="../../../images/common/img_humidifier.png" alt=""></div>
                <a>가습기</a>
            </li>
            <li>
                <div class="img"><img src="../../../images/common/img_oven.png" alt=""></div>
                <a>오븐</a>
            </li>
        </ul>
    </section>
    <!-- //section_appliance_list -->
</div>
    </div>
</div>
</body>
</html>
