<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">

<!-- section_header -->
<section class="section_header">
    <header>
        <div class="title">가전 등록</div>
    </header>
</section>
<!-- //section_header -->
</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">
    <div class="desktop_col">
        <div class="col_box">
<section class="section_indicator">
    <div class="indicator">
        <ul>
            <li class="visited"><span>Wi-Fi 연결</span></li>
            <li class="visited"><span>AP 설정</span></li>
            <li class="visited"><span>AP 연결</span></li>
            <li class="active"><span>가전명 설정</span></li>
        </ul>
    </div>
</section>

<!-- section_register_contents -->
<section class="section_register_contents">
    <p class="title">
        ‘ERAH310’ 이름 입력
    </p>
    <div class="img_ap_setting"></div>
    <p class="desc"> 가전 이름을 자유롭게 입력해 주세요</p>
    <p class="etc">(동일한 가전을 2개 이상 보유하신 경우,<br>가전이름으로 구분 하실 수 있습니다) </p>
</section>
<!-- //section_register_contents -->

<section class="section_register_name">
    <input type="text" placeholder="가전 이름을 자유롭게 입력해주세요">
</section>

<!-- section_btn -->
<section class="section_btn bottom_btn ">
    <div class="area_btn">
        <button class="btn btn_lg btn_skyblue btn_block">완료</button>
    </div>
</section>
<!-- //section_btn -->
        </div>
    </div>
</div>
<!-- //desktop_contents -->
</body>
</html>
