@charset "UTF-8";

.desktop {
    width: 1200px;
    margin: 0 auto;
}
.desktop .desktop_contents {
    width: 1200px;
    min-height: 380px;
    padding: 20px 0 0;
}
.desktop .desktop_col {
    float: left;
    padding-left: 30px;
    width: 100%;
}
.desktop .desktop_col .col_box {
    border-top: #333 3px solid;
}
.desktop .desktop_col.none_padding {
    padding-left: 0;
}
.desktop .desktop_col.col2 {
    width: 50%;
}
.desktop .desktop_col.col2.col2_01 {
    width: 65%;
}
.desktop .desktop_col.col2.col2_02 {
    width: 35%;
}

.desktop .desktop_col:first-child {
    padding-left: 0;
}
.desktop .desktop_col.col3 {
    width: 33.3%;
}
.desktop .desktop_header {
    width: 1200px;
}

.wrap_header_area {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    /*height: 94px;*/
    height: 14.5vh;
    z-index: 100;
}
.wrap_contents_area {
    /*padding-top: 94px;*/
    padding-top: 14.5vh;
    height: 100%;
    /*height: 85.5vh;*/
    /*height: 100vh;*/
}
.wrap_contents_area.has_bottom_fix_btn {
    padding-bottom: 74px;
}

.section_header {
    position: relative;
    background: #585858;
    height: 8vh;
    /*height: 52px;*/
}
.desktop .section_header {
    height: 52px;
    background: none;
}
.desktop .section_header .title {
    color: #000;
    text-align: left;
    font-size: 2.5rem;
    font-weight: bold;
}
.section_header header {
    position: relative;
    /*height: 52px;*/
    height: inherit;
}

.section_header header .sprite {
    position: absolute;
}

.section_header header .sprite_back {
    left: 15px;
    top: 16px;
}
.desktop .section_header header .sprite_back {
    left: 15px;
    top: 10px;
}

.section_header header .sprite_setting,
.section_header header .sprite_information {
    right: 15px;
    top: 16px;
}
.desktop .section_header header .sprite_setting {
    right: 15px;
    top: 8px;
}

.section_header header .sprite_search {
    right: 15px;
    top: 18px;
}
.section_header .title {
    height: inherit;
    line-height: 8vh;
    font-size: 1.9rem;
    color: #fff;
    /*font-weight: bold;*/
    text-align: center;
}
.desktop .section_header .title {
    line-height: 52px;
}
.section_menu {
    position: relative;
    height: 6.5vh;
    /*height: 42px;*/
    border-bottom: #e1e1e1 1px solid;
    z-index: 100;
    background: #fff;
}
.desktop .section_menu {
    height: 42px;
    border: #e1e1e1 1px solid;
}

.section_menu .area_menu {
    position: relative;
    height: inherit;
    overflow: hidden;
}

.section_menu ul li {
    min-width: 77px;
    line-height: 6.5vh;
    padding: 0 25px;
    float: left;
}
.desktop .section_menu ul li {
    line-height: 42px;
    width: 12.5%;
}

.section_menu .moving {
    height: inherit;
    overflow-x: auto;
}
.desktop .section_menu .moving {
    overflow-x: hidden;
}

.section_menu .moving ul {
    width: 102vmax;
}
.desktop .section_menu .moving ul {
    width: auto;
}

.section_menu ul li {
    padding: 0 13px;
}

.section_menu ul li a {
    display: block;
    position: relative;
    width: 100%;
    height: inherit;
    line-height: inherit;
    text-align: center;
    white-space: nowrap;
    font-size: 1.3rem;
    padding: 0 3px;
    color: #666;
    /*-webkit-tap-highlight-color: rgba(237, 237, 237, 0.5);*/
}
.desktop .section_menu ul li a {
    font-size: 16px;
}
.section_menu ul li.active a {
    color: #000;
}
.desktop .section_menu ul li.active a {
    font-weight: bold;
}

.section_menu ul li.active a span {
    position: relative;
    display: inline-block;
}
.desktop .section_menu ul li.active a span {
    line-height: 40px;
}
.section_menu ul li.active a span:after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #e9002d;
}

.section_tab {
    padding: 15px;
}
.section_indicator {
    padding: 15px 20px;
}

/**
 * 팝업
 */
.popup_dim {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.85);
}

.popup_dim:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.popup_dim_all {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.8);
}

.popup {
    width: 305px;
    background: #fff;
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.popup:after {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.popup.popup_all {
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 52px;
}

.popup.popup_all:after {
    content: '';
}

.popup .popup_header {
    position: relative;
    height: 46px;
    border-bottom: #e9002d 1px solid;
}
.desktop .popup .popup_header {
    height: 56px;
}

.popup .popup_header h1 {
    line-height: 45px;
    font-size: 1.6rem;
    font-weight: bold;
}
.desktop .popup .popup_header h1 {
    line-height: 55px;
    font-size: 2rem;
}

.popup_all .popup_header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.popup_all .popup_header h1 {
    font-size: 1.7rem;
    height: 52px;
    line-height: 52px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
.desktop .popup_all .popup_header h1 {
    font-size: 3rem;
    height: 80px;
    line-height: 80px;
}

.popup_header .close_popup {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 52px;
    text-align: center;
}

.desktop .popup_header .close_popup {
    width: 80px;
    height: 80px;
}

.popup_header .close_popup button {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 5px;
}

.popup .popup_contents {
    display: inline-block;
    position: relative;
    width: 306px;
    vertical-align: middle;
}
/*
.desktop .popup .popup_contents {

    width: 458px;

}
*/

.popup_all .popup_contents {
    display: inline-block;
    position: relative;
    /*width: 330px;*/
    vertical-align: middle;
}
.desktop .popup_dim_all .popup_all .popup_contents {
    width: 550px;
}

.popup_contents .text_box {
    margin-bottom: 10px;
}
.desktop .popup_contents .text_box {
    margin-bottom: 14px;
}

.popup_contents .text_box.none_margin_bottom {
    margin-bottom: 0;
}
.popup_btn {
    padding: 6px;
}
.desktop .popup_btn {
    padding: 8px;
}

