<div class="box_card error net_error">
    <p class="error_network"><span class="sprite sprite_common sprite_network_error"></span>기기전원 또는 네트워크 상태를 확인해 주세요.</p>
    <a href="#" class="sprite sprite_common sprite_close _btnConnectErrorClose"></a>
</div>