<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">

    <!-- section_header -->
    <section class="section_header">
        <header>
            <button class="sprite sprite_common sprite_back">뒤로</button>
            <div class="title">기기명</div>
            <button class="sprite sprite_common sprite_setting"></button>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->

</div>
<!-- //wrap_header_area-->

<!-- wrap_contents_area -->
<div class="wrap_contents_area">

    <!-- section_history_log -->
    <section class="section_history_log">
        <div class="area_history_log">
            <!-- 하단 컨텐츠 열릴 때 active -->
            <button class="arrow_btn active">
                <span class="sprite sprite_common sprite_lower_arrow">?</span>
            </button>

            <div class="box_top">
                <span class="sprite sprite_common sprite_calendar_blue"></span>
                <p class="schedule">2015.09</p>
                <span class="sprite sprite_common sprite_pre">예정</span>
            </div>

            <div class="box_log_contents clearfix" style="display:block;">
                <p class="txt_highlight_skyblue"><span>냉온 정수기(세미전자식)</span> WPU8235CRP</p>
                <ul>
                    <li>예정필터 : 세디복합(8)</li>
                    <li>진행결과 : 예정</li>
                </ul>
            </div>
        </div>

    </section>
    <!-- //section_history_log -->

</div>
<!-- //wrap_contents_area-->

</body>
</html>
