<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>

<!-- 팝업 -->
<div class="popup_dim_all">
    <div class="popup popup_all popup_loading">
        <div class="popup_contents">
            <div class="loader">Loading...</div>
            <p>로딩중 입니다.</p>
        </div>
    </div>
</div>
<!-- //팝업 -->


</body>
</html>
