<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>

<!-- 팝업 -->
<div class="popup_dim_all">
    <div class="popup popup_all popup_user_join">
        <div class="popup_header">
            <h1>사용자 추가</h1>
            <div class="close_popup">
                <button><span class="sprite sprite_common sprite_popup_close"></span>
                </button>
            </div>
        </div>
        <div class="popup_contents">
            <p>등록할 사용자 휴대폰 번호를 <br>입력해 주세요.</p>
            <input type="text" class="text_box text_box_md text_box_dark text_box_block" value="휴대폰 번호">
            <button class="btn btn_lg btn_skyblue btn_block">확인</button>
        </div>
    </div>
</div>
<!-- //팝업 -->

<!-- section_header -->
<section class="section_header">
    <header>
        <a href="#" class="sprite sprite_common sprite_back">뒤로</a>
        <div class="title">기기명</div>
        <a href="#" class="sprite sprite_common sprite_setting"></a>
    </header>
</section>
<!-- //section_header -->

<!-- section_menu -->
<section class="section_menu">
    <div class="area_menu">
        <div class="moving">
            <ul class="clearfix">
                <li class="active"><a href="#"><span>상태표시</span></a></li>
                <li><a href="#"><span>제품작동</span></a></li>
                <li><a href="#"><span>사용통계</span></a></li>
                <li><a href="#"><span>사용설명</span></a></li>
                <li><a href="#"><span>관리이력</span></a></li>
                <li><a href="#"><span>납부정보</span></a></li>
                <li><a href="#"><span>이력 및 알림</span></a></li>
                <li><a href="#"><span>사용자 관리</span></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- //section_menu -->

</body>
</html>
