<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">

    <!-- section_header -->
    <section class="section_header">
        <header>
            <button class="sprite sprite_common sprite_back">뒤로</button>
            <div class="title">슈퍼S 냉온정수기</div>
            <button class="sprite sprite_common sprite_setting"></button>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->

</div>
<!-- //wrap_header_area -->

<!-- wrap_contents_area -->
<div class="wrap_contents_area">
    <div class="wrap_section_graph">
        <!-- section_graph -->
        <section class="section_graph">
            <div class="graph_header">
                <p class="graph_title">전기 사용량</p>
                <span>최저 소비전력 슈퍼S정수기는 당사 에너지효율 3등급 정수기대비 약 70% 전기료가 절감됩니다.</span>
            </div>
            <div class="graph_box">
                <p class="graph_title left">최근 6개월(2015.10 ~ 2016.03)</p>
                <p class="graph_title right">월 평균 : 1,500원(20KW)</p>
                <img src="../../../images/page/@temp_graph01.png" alt="">
                <p class="graph_desc">주거용 주택전력(고압) 기준으로 산정되었습니다. (200kW사용기준)</p>
            </div>
        </section>
        <!-- //section_graph -->

        <!-- section_graph -->
        <section class="section_graph">
            <div class="graph_header">
                <p class="graph_title title_alone">하루 평균 물 수취량</p>
            </div>
            <div class="graph_box">
                <p class="graph_title right">밤 0시부터 24시간</p>
                <img src="../../../images/page/@temp_graph02.png" alt="">
                <p class="graph_desc">하루에 섭취해야 하는 물의 양 = (키 + 몸무게)/100<br>
                    우리 몸의 필수품! 건강하고 깨끗한 물! 챙겨드세요~
                </p>
            </div>
        </section>
        <!-- //section_graph -->

        <!-- section_graph -->
        <section class="section_graph">
            <div class="graph_header">
                <p class="graph_title title_alone">1일 ~ 말일까지 일평균 물 취수량 </p>
            </div>
            <div class="graph_box">
                <p class="graph_title left">최근 6개월(2015.10 ~ 2016.03)</p>
                <p class="graph_title right">일일 평균 : 16.3L</p>
                <img src="../../../images/page/@temp_graph03.png" alt="">
                <ul class="water_icon col_3 clearfix">
                    <li><span class="sprite sprite_purify sprite_water_blue"></span>냉수</li>
                    <li><span class="sprite sprite_purify sprite_water_green"></span>정수</li>
                    <!--<li><span class="sprite sprite_purify sprite_water_yellow"></span>유아수/미온수</li>-->
                    <li><span class="sprite sprite_purify sprite_water_red"></span>온수</li>
                </ul>
            </div>
        </section>
        <!-- //section_graph -->
    </div>

</div>
<!-- //wrap_contents_area-->
</body>
</html>
