<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">

    <!-- section_header -->
    <section class="section_header">
        <header>
            <button class="sprite sprite_common sprite_back">뒤로</button>
            <div class="title">슈퍼S 냉온정수기</div>
            <button class="sprite sprite_common sprite_setting"></button>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->

</div>
<!-- //wrap_header_area -->

<!-- wrap_contents_area -->
<div class="wrap_contents_area has_bottom_fix_btn">

    <!-- section_info -->
    <section class="section_user_device_img">
        <div class="area_product">
            <div class="img"></div>
            <p>MY 슈퍼2</p>
        </div>
    </section>
    <!-- //section_info -->

    <!-- section_user -->
    <section class="section_user">
        <div class="user_title">사용자 5명</div>
        <ul class="user_list">
            <li class="user_default">
                <div class="img"></div>
                <div class="budge"></div>
                <p>홍길동</p>
                <p>010-1234-5678</p>
            </li>
            <li>
                <div class="img"></div>
                <p>010-1234-5678</p>
                <button class="btn btn_md btn_dark_gray">연결해제</button>
            </li>
            <li>
                <div class="img"></div>
                <p>010-1234-5678</p>
                <button class="btn btn_md btn_dark_gray">연결해제</button>
            </li>
            <li>
                <div class="img"></div>
                <p>010-1234-5678</p>
                <button class="btn btn_md btn_dark_gray">연결해제</button>
            </li>
            <li>
                <div class="img"></div>
                <p>010-1234-5678</p>
                <button class="btn btn_md btn_dark_gray">연결해제</button>
            </li>
            <li>
                <div class="img"></div>
                <p>010-1234-5678</p>
                <button class="btn btn_md btn_dark_gray">연결해제</button>
            </li>
            <li>
                <div class="img"></div>
                <p>010-1234-5678</p>
                <button class="btn btn_md btn_dark_gray">연결해제</button>
            </li>
            <li>
                <div class="img"></div>
                <p>010-1234-5678</p>
                <button class="btn btn_md btn_dark_gray">연결해제</button>
            </li>
            <li>
                <div class="img"></div>
                <p>010-1234-5678</p>
                <button class="btn btn_md btn_dark_gray">연결해제</button>
            </li>
        </ul>

    </section>
    <!-- //section_user -->

    <section class="section_btn bottom_btn bottom_fixed">
        <div class="area_btn">
            <button class="btn btn_lg btn_skyblue btn_block">사용자 추가</button>
        </div>
    </section>

</div>
<!-- //wrap_contents_area-->

</body>
</html>
