<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK School Admin</title>
    <!-- UI css -->
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
    <!-- jquery plugin -->
    <script type="text/javascript" src="../../js/jquery/jquery-1.11.2.min.js"></script>
</head>
<body>
<section class="section_header">
    <header>
		<span class="logo">
			<a href="#"><img src="../../images/common/img_air_logo.png" alt="Smart Home"></a>
		</span>
        <div class="gnb">
            <ul>
                <li><a href="#">전국 공기 조회</a></li>
                <li class="active"><a href="#">내 학교 관리</a></li>
                <li><a href="#">통계 관리</a></li>
            </ul>
        </div>
        <div class="myinfo">
            <ul>
                <li class="_on_dropdown"><a href="#">김두식<span>(광명초등학교)</span></a>
                    <div class="drop_myinfo">
                        <div class="info">
                            <p class="txt_name">사용자</p>

                            <p class="txt_email">aaa@sk.com</p>
                        </div>
                        <div class="info_btn clearfix">
                            <a href="#" class="fl btn btn_setting">내 정보</a>
                            <a href="#" class="fr btn btn_orange btn_signin">로그아웃</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </header>
</section>
<!-- section_contents -->
<section class="section_contents clearfix">
    <div class="wrap_path">
        <a href="#">내 학교 관리</a>
        <span> &gt; </span>
        <a href="#">예약 및 조건 설정</a>
        <span> &gt; </span>
        <a href="#">등록</a>
    </div>

    <!-- lnb -->
    <div class="wrap_left">
        <div class="area_lnb">
            <div class="box_title">
                <h2>전국 공기 조회</h2>
            </div>
            <ul>
                <li><a href="#">기기 조회 및 관리</a></li>
                <li><a href="#">실시간 그룹 제어</a></li>
                <li class="active"><a href="#">예약 및 조건 설정</a></li>
                <li><a href="#">Push 관리</a></li>
                <li><a href="#">실외센서 관리</a></li>
            </ul>
        </div>

    </div>
    <!-- //lnb -->

    <!-- wrap_right -->
    <div class="wrap_right">
        <!-- wrap_header -->
        <div class="wrap_header">
            <div class="area_title area_title_alone">
                <div class="layout">
                    <div class="layout_left">
                        <h2>예약 및 조건 설정 등록</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- //wrap_header -->

        <!-- wrap_contents -->
        <div class="wrap_contents wrap_setting">
            <div class="tabs tabs_monitor">
                <ul class="clearfix">
                    <li class="active"><a href="#">기본설정</a></li>
                    <li class="last"><a href="#">조건설정</a></li>
                </ul>
            </div>
            <div class="area_query area_query_center">
                <div class="layout">
                    <div class="box_input">
                        <label class="lb03">학년</label>
                        <select class="select_box">
                            <option>전체</option>
                            <option>1학년</option>
                            <option>2학년</option>
                            <option>3학년</option>
                            <option>4학년</option>
                            <option>5학년</option>
                            <option>6학년</option>
                        </select>

                        <label class="lb01">반/교실</label>
                        <select class="select_box">
                            <option>전체</option>
                        </select>
                    </div>
                    <div class="box_input">
                        <label class="lb03">시간</label>
                        <select class="select_box select_box_sm">
                            <option>00</option>
                        </select>
                        <span>시</span>

                        <select class="select_box select_box_sm">
                            <option>00</option>
                        </select>
                        <span>분</span>

                    </div>
                    <div class="box_input">
                        <label class="lb03">요일</label>
                        <div class="day_choice">
                            <a href="#" class="focus">월</a>
                            <a href="#">화</a>
                            <a href="#">수</a>
                            <a href="#">목</a>
                            <a href="#">금</a>
                            <a href="#">토</a>
                            <a href="#">일</a>
                        </div>
                        <input type="checkbox" class="checkbox check_option">매주 반복
                    </div>
                    <div class="box_input">
                        <label class="lb03">기기</label>
                        <select class="select_box select_box_lg">
                            <option>전체</option>
                        </select>
                        <span>를</span>
                    </div>
                    <div class="box_input">
                        <label class="lb03 lb_top">실행</label>
                        <div class="option_choice option_default">
                            <label><input type="radio" class="radio" checked> 켭니다</label>
                            <label><input type="radio" class="radio"> 끕니다</label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- wrap_contents_btn -->
            <div class="wrap_contents_btn">
                <div class="area_btn">
                    <a href="#" class="btn btn_lg btn_gray">취소</a>
                    <a href="#" class="btn btn_lg btn_orange">저장</a>
                </div>
            </div>
            <!-- //wrap_contents_btn -->
        </div>
        <!-- //wrap_contents -->


    </div>
    <!-- //wrap_right -->
</section>
<!-- //section_contents -->
<section class="section_footer">
    <div class="footer">
        <div class="logo">
            <a href="#"><img src="../../images/common/logo_footer.png" alt="Smart Home SKT 스마트 계량기"></a>
        </div>
        <div class="box_footer">
            <ul class="clearfix">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보 취급방침</a></li>
            </ul>
            <div class="copy">
                <p>우편번호 : 100-999 서울특별시 중구 을지로 65(을지로 2가) SK T-타워 SK텔레콤(주)<span>|</span>대표이사/사장 : 장동현<span>|</span>사업자
                    등록번호 : 104-81-37225<span>|</span>고객센터 : 1800-0161
                    <a href="#">이메일문의</a></p>
                <p>COPYRIGHTⓒSK TELECOM CO., LTD. ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
</section>


<!-- ui library -->
<script type="text/javascript" src="../../js/ui/ui.util.js"></script>
<script type="text/javascript" src="../../js/ui/ui.common.js"></script>
<script type="text/javascript" src="../../js/ui/ui.page.js"></script>
<script type="text/javascript" src="../../js/ui/ui.init.js"></script>
<script>
    /**
     * 팝업열기 클래스 _popup_open
     * 팝업열기 콜백
     * uiPage.showPopup(해당 팝업 class);
     */
    //uiPage.showPopup('.popup01');

    /**
     * 팝업닫기 클래스 _popup_close
     * 팝업 닫기 콜백
     * uiPage.showPopup(해당 팝업 class);
     */
    //uiPage.closePopup('.popup01');
</script>


</body>
</html>
