<div class="popup_dim">

    <div class="area_red_key">
        <span>빨간버튼</span>바로보기
    </div>

    <div class="popup popup_display">
        <p><img src="../../img/popup_display.png" alt=""></p>
    </div>

    <!--<div class="area_pip">
        <img src="img/img_sign_person.jpg" alt="">
    </div>-->



</div>