<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- 팝업 -->
<div class="popup_dim">
    <div class="popup"  style="width: 306px;height: 432px;">
        <div class="popup_header">
            <h1>습도 설정</h1>
        </div>
        <div class="popup_contents">
            <div class="box_time unit unit_humidify">
                <ul class="cook_unit">
                    <li>30</li>
                    <li>40</li>
                    <li class="current">50<span>%</span></li>
                    <li>60</li>
                    <li>70</li>
                </ul>
            </div>
        </div>
        <div class="popup_btn">
            <div class="btn_inline">
                <button class="btn btn_md btn_manual btn_gray">취소</button>
                <button class="btn btn_md btn_manual btn_skyblue">확인</button>
            </div>
        </div>
    </div>
</div>
<!-- //팝업 -->

<!-- section_header -->
<section class="section_header">
    <header>
        <a href="#" class="sprite sprite_common sprite_back">뒤로</a>
        <div class="title">기기명</div>
        <a href="#" class="sprite sprite_common sprite_setting"></a>
    </header>
</section>
<!-- //section_header -->

<!-- section_menu -->
<section class="section_menu">
    <div class="area_menu">
        <div class="moving">
            <ul class="clearfix">
                <li class="active"><a href="#"><span>상태표시</span></a></li>
                <li><a href="#"><span>제품작동</span></a></li>
                <li><a href="#"><span>사용통계</span></a></li>
                <li><a href="#"><span>사용설명</span></a></li>
                <li><a href="#"><span>관리이력</span></a></li>
                <li><a href="#"><span>납부정보</span></a></li>
                <li><a href="#"><span>이력 및 알림</span></a></li>
                <li><a href="#"><span>사용자 관리</span></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- //section_menu -->

</body>
</html>
