/*.main_top_area .msg_main {*/
/*font-size: 2.250em;*/
/*font-weight: 200;*/
/*}*/
/*.main_top_area .msg_main span {*/
/*font-weight: 400;*/
/*}*/

.mobile_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile_header > a{
    width: 100%;
    text-align: center;
}

.main_wrap {
    width: 100%;
    height: calc(100vh - 4.688em);
}
.main_container,.main_contents {
    width: 100%;
    height: 100%;
}
.main_section {
    position: relative;
    padding: 0 20px;
}

.main_top_section {
    padding: 0;
    height: 50%;
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
}
.main_bottom_section {
    width: 100%;
    height: 440px;
}
.main_bottom_area {
    width: 100%;
    margin: 0 auto;
    max-width:1180px;
    display: flex;
    justify-content: space-between;
}
.main_bottom_area .main_bottom_box {
    padding: 0 2.875rem 0 5.188rem;
    width: 49%;
    background-color: #fff;
    /*height: 420px;*/
    height: 26.25rem;
    position: relative;
    top: -90px;
    /*-webkit-box-shadow: 3px -1px 7px #ccc;*/
    /*-moz-box-shadow: 3px -1px 7px #ccc;*/
    /*box-shadow: 3px -1px 7px #ccc;*/
}
.main_bottom_box .box_title {
    position: relative;
    padding: 0 0.375rem 0.8rem;
    border-bottom: 1px solid rgba(28,28,28,0.1);
}
.main_bottom_box .box_title p {
    padding: 1.25rem 0 0;
    font-weight: 200;
    font-size: 1.5rem;
    color: #1C1C1C;
    line-height: 1.3;
}
.main_bottom_box .box_title p:nth-child(1) span{
    font-weight: 400;
    color: #1C1C1C;
}
.main_bottom_box .box_title p:nth-child(2) {
    font-family: Ubuntu;
    font-weight: 600;
    font-style: italic;
    font-size: 1rem;
    color: #1C1C1C;
}
.main_bottom_box .box_contents .contents_p {
    color: #1C1C1C;
    font-weight: 200;
    font-size: 0.75rem;
    padding: 1rem 0.375rem;
}
.main_bottom_box .contents_a {
    font-size: 0.75rem;
    color: #F55B4F;
    text-decoration: underline;
    width: 100%;
    text-align: right;
    display: block;
}
.bottom_left_box {
    background-image: url(../images/main/main_item_bg0.png);
    background-size: 70%;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.bottom_right_box {
    background-image: url(../images/main/way2.png);
    background-size: 70%;
    background-position: right bottom;
    background-repeat: no-repeat;
}
.main_bottom_box .start_order {
    position: absolute;
    top: 1.5rem;
    right: 0;
    width: 8.125rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #C0C0C0;
}
.main_bottom_box a.order_active{
    color: #F65B4F;
}
.main_bottom_box a div{
    width: 3.125rem;
    height: 3.125rem;
}
.main_top_area .main_top_box.state_top_box .arrow_mb {
    display: none;
}
.foldtl {
    position: relative;
    position: relative;
    -webkit-box-shadow: 3px 2px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 2px 1px rgba(0,0,0,0.2);
    box-shadow: 3px 2px 1px rgba(0,0,0,0.2);
    /*box-shadow: 3px 2px 1px #F1F1F1;*/
}
.foldtl:before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 50px solid rgba(241,241,241,0.4);
    border-left: 50px solid transparent;
    /*-webkit-box-shadow: 2px 2px 7px #ccc;*/
    /*-moz-box-shadow: 2px 2px 7px #ccc;*/
    /*box-shadow: 2px 2px 7px #ccc;*/
    -webkit-box-shadow: 4px 4px 5px #F1F1F1;
    -moz-box-shadow: 4px 4px 5px #F1F1F1;
    box-shadow: 4px 4px 5px #F1F1F1;
}
.foldtl:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0px;
    height: 0px;
    border-top: 49px solid #fff;
    border-right: 49px solid transparent;
}
.main_msg {
    font-size: 2.125em;
    font-weight: 200;
    display: inline-block;
    margin-bottom: 11.063rem;
}
.main_msg span {
    font-weight: 400;
}
.main_msg span.logo_img {
    display: inline-block;
    margin-top: 0.5em;
}
.main_msg span.logo_img img {
    width: 7.438rem;
}
.main_top_area {
    display: flex;
}
.main_top_area .main_top_box {
    flex-grow: 4;
    width: 40%;
}
.main_top_area .main_top_box.first {
    flex-grow: 6;
    width: 60%;
}

.main_top_box .notice p {
    width: 200px;
    height: 22px;
    font-size: 0.6875rem;
    color: #fff;
    background-image: url(../images/main/main_item_titleIcon.png);
    background-position: 5px 2px;
    background-repeat: no-repeat;
    position: absolute;
    top: -20px;
    left: 0;
    padding-left: 22px;
    line-height: 22px;
    font-weight: 200;
}
/*Left pointing*/
.triangle-up-right {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    padding-left:10px;
    padding-top: 10px;
    overflow: hidden;
}
.triangle-up-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-left:-10px;
    margin-top:-10px;

    border-left: 10px solid transparent;
    border-top: 10px solid #D24942;
}
.main_top_box .notice {
    position: relative;
    width: 200px;
    height: 22px;
    background-color: #F65B4F;
    padding-left: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    border-top: 20px solid #F65B4F;
    border-right: 8px solid #fff;
}
.main_top_box .state_area {
    margin-top: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main_top_box .state_box {
    position: relative;
}
.main_top_box .state_box p {
    font-size: 0.6875rem;
    color: #757575;
    text-align: center;
}
.main_top_box .state_box .state_img {
    position: relative;
    width: 5.313rem;
    height: 5.313rem;
    background-color: #fff;
    /*background-image: url(../images/main/main_icon_0.png);*/
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 60%;
    margin: 0 auto;
    z-index: 1;
}
.state_img.state01 {
    background-image: url(../images/main/main_icon_0.png);
}
.state_img.state02 {
    background-image: url(../images/main/main_icon_1.png);
}
.state_img.state03 {
    background-image: url(../images/main/main_icon_2.png);
}
.state_img.state04 {
    background-image: url(../images/main/main_icon_3.png);
}
/*.main_top_box .state_box span {*/
    /*z-index: 0;*/
    /*width: 22px;*/
    /*height: 22px;*/
    /*-webkit-border-radius: 50%;*/
    /*-moz-border-radius: 50%;*/
    /*border-radius: 50%;*/
    /*background: #fff;*/
    /*position: absolute;*/
    /*top: -9px;*/
    /*text-align: center;*/
    /*font-size: 0.625rem;*/
    /*color: #9F9F9F;*/
    /*-webkit-box-shadow: 1px 1px 4px 0px #cccccc;*/
    /*-moz-box-shadow: 1px 1px 4px 0px #cccccc;*/
    /*box-shadow: 1px 1px 4px 0px #cccccc;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
/*}*/
/*.main_top_box .state_box img {*/
/*position: absolute;*/
/*top: 50%;*/
/*left: 50%;*/
/*transform: translate(-50%,-50%);*/
/**/
/*}*/

.main_top_box .state_area .between_img {
    width: 22px;
    height: 3px;
    /*background-image: url(../images/main/main_item_caption.png);*/
    background-repeat: no-repeat;
}

.main_bottom_color
{
    height: 50%;
    background : -moz-linear-gradient(0% 50% 0deg,rgba(255, 209, 85, 1) 0%,rgba(255, 179, 85, 1) 100%);
    background : -webkit-linear-gradient(0deg, rgba(255, 209, 85, 1) 0%, rgba(255, 179, 85, 1) 100%);
    background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(255, 209, 85, 1) ),color-stop(1,rgba(255, 179, 85, 1) ));
    background : -o-linear-gradient(0deg, rgba(255, 209, 85, 1) 0%, rgba(255, 179, 85, 1) 100%);
    background : -ms-linear-gradient(0deg, rgba(255, 209, 85, 1) 0%, rgba(255, 179, 85, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD155', endColorstr='#FFB355' ,GradientType=0)";
    background : linear-gradient(90deg, rgba(255, 209, 85, 1) 0%, rgba(255, 179, 85, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFD155',endColorstr='#FFB355' , GradientType=1);
}
.main_bottom_color .main_bottom_area {
    background: transparent;
}

/*.sub_header {*/
    /*display: none;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 60px;*/
    /*top: 60px;*/
    /*left: 0;*/
    /*!*display: flex;*!*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*-webkit-box-shadow: 0 2px 1px rgba(0,0,0,0.1);*/
    /*-moz-box-shadow: 0 2px 1px rgba(0,0,0,0.1);*/
    /*box-shadow: 0 2px 1px rgba(0,0,0,0.1);*/
    /*background-color: #fff;*/
/*}*/
/*.sub_header > div {*/
    /*width:33.3%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/
/*}*/
/*.sub_header > div.active {*/
    /*background-color: #F55B4F;*/
/*}*/
/*.sub_header > div.active > a{*/
    /*border: none;*/
/*}*/
/*.sub_header > div > a {*/
    /*width: 100%;*/
    /*font-size: 14px;*/
    /*font-weight: 400;*/
/*}*/
/*.sub_header > div > a {*/
    /*border-right: 1px solid #282828;*/
/*}*/
/*.sub_header > div:last-child > a {*/
    /*border:none;*/
/*}*/
