<div class="box_card turn_off_timer _turnoff">
    <p class="card_title">꺼짐 예약 </p>
    <a href="#" class="set_desc btn_setting _openPopupSettingTImer">설정</a>
    <a href="#" class="set_desc btn_release _releasePopupSettingTImer"  data-mode-ser="{{modeSer}}">해제</a>
    <!--<p class="time">오후<span>09:15</span></p>-->
    <p class="desc_date"><span class="day"></span><span class="time">09:15</span></p>
</div>