<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">
    <!-- section_header -->
    <section class="section_header">
        <header>
            <button class="sprite sprite_common sprite_back">뒤로</button>
            <div class="title">SK매직 전기레인지</div>
            <button class="sprite sprite_common sprite_setting"></button>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->
</div>
<!-- //wrap_header_area -->

<!-- wrap_contents_area -->
<div class="wrap_contents_area">

    <!-- section_main -->
    <section class="section_main section_induction">
        <div class="bg bg_induction">
            <div class="area_title">
                <div class="box_title">
                    <h1>
                    <span>My 전기레인지<button class="align_center sprite sprite_purify sprite_edit">

                    </button></span>
                    </h1>
                </div>
                <p>
                    <span class="sprite sprite_gas_stove sprite_use_time">?</span>연속 사용시간 23:14
                </p>
            </div>

            <div class="area_induction">
                <div class="range_size range_sm">

                    <div><input type="checkbox" class="toggle_range toggle_range_sm">
                        <label for="">소화구</label></div>
                    <!-- 보온 on
                     btn_round btn_on
                    보온 off
                     btn_round btn_off
                     -->
                    <p class="btn_round btn_on">보온</p>
                    <div class="tooltip_range btn_round">5분 후 꺼짐</div>
                </div>
                <div class="range_size range_md">
                    <div><input type="checkbox" class="toggle_range toggle_range_md">
                        <label for="">중화구</label></div>
                    <p class="btn_round btn_off">보온</p>
                </div>
                <div class="range_size range_lg">
                    <div><input type="checkbox" class="toggle_range toggle_range_lg" checked>
                        <label for="">인덕션</label></div>
                    <p class="btn_round btn_off">보온</p>
                    <div class="tooltip_range btn_round">5분 후 꺼짐</div>
                </div>
            </div>

        </div>
    </section>
    <!-- //section_main -->

    <!-- section_timer -->
    <section class="section_timer">
        <p class="timer_title"><span class="sprite sprite_gas_stove sprite_timer"></span>타이머</p>
        <div class="area_timer">
            <!-- 타이머 OFF시 box_timer에 class 추가 'timer_off' -->
            <div class="box_timer">
                <span>소화구</span>
                <button class="setting">설정</button>
                <button class="time_box">08:02</button>
            </div>
            <div class="box_timer timer_off">
                <span>중화구</span>
                <button class="setting">설정</button>
                <button class="time_box">OFF</button>
            </div>
            <div class="box_timer">
                <span>인덕션</span>
                <button class="setting">설정</button>
                <button class="time_box">06:02</button>
            </div>
        </div>
    </section>
    <!-- //section_timer -->

    <!-- section_oven_bottom_menu -->
    <section class="section_function section_toggle toggle_col_3">
        <div class="area_toggle">
            <input type="checkbox" class="toggle_range range_lock">
            <label>LOCK</label>

        </div>
        <div class="area_toggle">
            <input type="checkbox" class="toggle_range fireball" checked>
            <label>화구 OFF</label>
        </div>
        <div class="area_toggle">
            <input type="checkbox" class="toggle_range volume">
            <label>음성</label>
            <p class="sprite sprite_common sprite_stage">?</p>
        </div>
    </section>
    <!-- //section_oven_bottom_menu -->

</div>
<!-- //wrap_contents_area-->

</body>
</html>
