<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>

    <!-- section_header -->
    <section class="section_header">
        <header>
            <button class="sprite sprite_common sprite_back">뒤로</button>
            <div class="title">가전등록</div>
            <button class="sprite sprite_common sprite_setting"></button>
        </header>
    </section>
    <!-- //section_header -->




    <!-- section_appliance_list -->
    <section class="section_appliance_list">
        <ul class="appliance_img_list">
            <li>
                <div class="img"><img src="../../../images/common/no_image.png" alt=""></div>
                <a>SK매직 전기레인지</a>
            </li>
            <li>
                <div class="img"><img src="../../../images/common/no_image.png" alt=""></div>
                <a>슈퍼스마트 냉온정수기 WPUA400 </a>
            </li>


        </ul>
    </section>
    <!-- //section_appliance_list -->


</body>
</html>
