<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>

<!-- section_header -->
<section class="section_header">
    <header>
        <button class="sprite sprite_common sprite_back">뒤로</button>
        <div class="title">가전 등록</div>
        <button class="sprite sprite_common sprite_information"></button>
    </header>
</section>
<!-- //section_header -->

<section class="section_indicator">
    <div class="indicator">
        <ul>
            <li class="active"><span>Wi-Fi 연결</span></li>
            <li><span>AP 설정</span></li>
            <li><span>AP 연결</span></li>
            <li><span>가전명 설정</span></li>
        </ul>
    </div>
</section>

<!-- section_register_contents -->
<section class="section_register_contents">
    <p class="title">
        Wi-Fi(공유기) 연결
    </p>
    <div class="img_wifi"></div>
    <p class="desc"> Wi-Fi 네트워크 목록에서 가전에 연결할<br>Wi-Fi (공유기)를 선택해주세요</p>
</section>
<!-- //section_register_contents -->

<section class="section_network">
    <p class="title">네트워크 연결 선택 <button class="sprite sprite_common sprite_update_lg">?</button></p>
    <div class="box_wifi">
    <ul>
        <li>
            <a>iptime</a>
            <span class="sprite sprite_common sprite_pw_lock">?</span>
            <span class="sprite sprite_common sprite_phone_wifi">?</span>
        </li>
        <li>
            <a>Challenge01 <span class="sprite sprite_common sprite_loading">?</span></a>
            <span class="sprite sprite_common sprite_pw_lock">?</span>
            <span class="sprite sprite_common sprite_phone_wifi">?</span>
        </li>
        <li>
            <a>G3<span class="sprite sprite_common sprite_loading">?</span></a>
            <span class="sprite sprite_common sprite_pw_lock">?</span>
            <span class="sprite sprite_common sprite_phone_wifi">?</span>
        </li>
        <li>
            <a>HOME</a>
            <span class="sprite sprite_common sprite_pw_lock">?</span>
            <span class="sprite sprite_common sprite_phone_wifi">?</span>
        </li><li>
            <a>HOME</a>
            <span class="sprite sprite_common sprite_pw_lock">?</span>
            <span class="sprite sprite_common sprite_phone_wifi">?</span>
        </li><li>
            <a>HOME</a>
            <span class="sprite sprite_common sprite_pw_lock">?</span>
            <span class="sprite sprite_common sprite_phone_wifi">?</span>
        </li>

    </ul>
    </div>
</section>


<!-- section_btn -->
<section class="section_btn bottom_btn">
    <div class="area_btn btn_inline">
        <button class="btn btn_lg btn_gray btn_block">이전</button>
        <button class="btn btn_lg btn_skyblue btn_block">다음</button>
    </div>
</section>
<!-- //section_btn -->

</body>
</html>
