<table class="table">
    <colgroup>
        <col style="width: 60%;">
        <col style="width: 17%;">
        <col style="width: 13%;">
        <col style="width: 10%;">
    </colgroup>
    <thead>
    <tr>
        <th>화면명</th>
        <th>VIEW</th>
        <th>Link</th>
        <th>비고</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>대우 위니아 공기청정기</td>
        <td class="O">O</td>
        <td><a href="#airPurifierWinia">Link</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>대우 위니아 가습청정기</td>
        <td class="O">O</td>
        <td><a href="#airPurifierWiniaHumidfy">Link</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>청호나이스 CHA-K700AI</td>
        <td class="O">O</td>
        <td><a href="#airPurifierChungho">Link</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>삼성전자 공기청정기</td>
        <td class="O">O</td>
        <td><a href="#airPurifierSamsung">Link</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>LG전자 G+</td>
        <td class="O">O</td>
        <td><a href="#airPurifierLgG">Link</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>LG전자 몽블랑 S</td>
        <td class="O">O</td>
        <td><a href="#airPurifierLgS">Link</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>LG전자 몽블랑 D+</td>
        <td class="O">O</td>
        <td><a href="#airPurifierLgD">Link</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>위닉스 나이키</td>
        <td class="O">O</td>
        <td><a href="#airPurifierWinixNike">Link</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>위닉스 타이탄</td>
        <td class="O">O</td>
        <td><a href="#airPurifierWinixTaitan">Link</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>위닉스 XQ</td>
        <td class="O">O</td>
        <td><a href="#airPurifierWinixXQ">Link</a></td>
        <td>-</td>
    </tr>
    </tbody>
</table>