<div class="box_card _dustsensor">
    <p class="card_title title_set">먼지센서 감도 설정</p>
    <div class="box_setting">
        <ul class="clearfix">
            <li><a href="#"><span>약</span></a></li>
            <li class="focus"><a href="#"><span>중</span></a></li>
            <li><a href="#"><span>강</span></a></li>
            <li><a href="#"><span>터보</span></a></li>
        </ul>
    </div>
</div>