<div class="box_card _mode">
    <p class="card_title title_set">모드 설정</p>
    <div class="box_setting">
        <ul  class="clearfix">
            <li class="focus"><a href="#"><span>수동</span></a></li>
            <li><a href="#"><span>자동</span></a></li>
            <li><a href="#"><span>황사</span></a></li>
            <li><a href="#"><span>취침</span></a></li>
            <li><a href="#"><span>터보</span></a></li>
        </ul>
    </div>
</div>