<div class="box_card _alarm">
    <p class="card_title"><a href="#">이력 및 알림 <span class="sprite sprite_common sprite_more">?</span></a></p>
    <span class="sprite sprite_common sprite_new">new</span>
    <!-- 알림 메세지 1줄일 경우 -->
    <div class="alarm_txt" style="display: none;">
        <p>[1-1 공기청정기]의 동작을 시작합니다.</p>
        <p class="etc">오전 7:52</p>
    </div>
    <!-- 알림 메세지 2줄일 경우 -->
    <div class="alarm_txt">
        <p>[1-1 공기청정기] 오전 7시 30분에 전원 동작을 예약하였습니다.</p>
        <p class="etc">오전 7:52</p>
    </div>
</div>