<div class="box_card _filterused">
    <p class="card_title">필터 사용량</p>
    <ul class="set_list">
        <li>
            <p class="filter_name">필터이름</p>
            <div class="box_filter_use">
                <!-- 사용량 span width percent로 조정 -->
                <p><span class="filter_use" style="width: 95%;"></span></p>
                <span class="filter_per">95%</span>
            </div>
        </li>
        <li class="none_border_bottom">
            <p>필터 구매하기</p>
            <span class="sprite sprite_common sprite_more">?</span>
        </li>
    </ul>
</div>