<div class="box_card _autocontrol">
    <p class="card_title">자동 제어 설정</p>
    <div class="edit_box">
        <a href="#">편집</a>
        <a href="#">추가</a>
    </div>
    <ul class="set_list">
        <li>
            <p class="nugu">NUGU 음성 알림 받기</p>
            <p class="desc">NUGU를 통해 음성으로도 알림을 받습니다.</p>
            <input type="checkbox" class="icon_check toggle_default" checked>
        </li>
        <li>
            <!-- 알림해제시 disabled 클래스 추가 -->
            <p class="nugu disabled">NUGU 음성 알림 받기</p>
            <p class="desc">NUGU를 통해 음성으로도 알림을 받습니다.</p>
            <input type="checkbox" class="icon_check toggle_default">
        </li>
        <li class="none_border_bottom">
            <p>학교 지역에 황사주의보<br>/ 미세먼지 주의보 발령 시</p>
            <input type="checkbox" class="icon_check toggle_default" checked>
        </li>
    </ul>
</div>