<div class="popup_dim">

    <div class="area_red_key">
        <span>빨간버튼</span>바로보기
    </div>

   <!-- <div class="area_pip">
        <img src="img/img_sign_person.jpg" alt="">
    </div>-->

    <div class="popup popup_size">
        <!-- 왼쪽 상단 -->
        <p><img src="../../img/ps_01_size_100.png" alt=""></p>
        <p><img src="../../img/ps_01_size_150.png" alt=""></p>
        <p style="display: block;"><img src="../../img/ps_01_size_200.png" alt=""></p>
        <p><img src="../../img/ps_01_size_250.png" alt=""></p>
        <p><img src="../../img/ps_01_size_300.png" alt=""></p>

        <!-- 중앙 상단 -->
        <p><img src="../../img/ps_02_size_100.png" alt=""></p>
        <p><img src="../../img/ps_02_size_150.png" alt=""></p>
        <p><img src="../../img/ps_02_size_200.png" alt=""></p>
        <p><img src="../../img/ps_02_size_250.png" alt=""></p>
        <p><img src="../../img/ps_02_size_300.png" alt=""></p>

        <!-- 오른쪽 상단 -->
        <p><img src="../../img/ps_03_size_100.png" alt=""></p>
        <p><img src="../../img/ps_03_size_150.png" alt=""></p>
        <p><img src="../../img/ps_03_size_200.png" alt=""></p>
        <p><img src="../../img/ps_03_size_250.png" alt=""></p>
        <p><img src="../../img/ps_03_size_300.png" alt=""></p>

        <!-- 왼쪽 중앙 -->
        <p><img src="../../img/ps_04_size_100.png" alt=""></p>
        <p><img src="../../img/ps_04_size_150.png" alt=""></p>
        <p><img src="../../img/ps_04_size_200.png" alt=""></p>
        <p><img src="../../img/ps_04_size_250.png" alt=""></p>
        <p><img src="../../img/ps_04_size_300.png" alt=""></p>

        <!-- 오른쪽 중앙 -->
        <p><img src="../../img/ps_06_size_100.png" alt=""></p>
        <p><img src="../../img/ps_06_size_150.png" alt=""></p>
        <p><img src="../../img/ps_06_size_200.png" alt=""></p>
        <p><img src="../../img/ps_06_size_250.png" alt=""></p>
        <p><img src="../../img/ps_06_size_300.png" alt=""></p>

        <!-- 오른쪽 하단 -->
        <p><img src="../../img/ps_07_size_100.png" alt=""></p>
        <p><img src="../../img/ps_07_size_150.png" alt=""></p>
        <p><img src="../../img/ps_07_size_200.png" alt=""></p>
        <p><img src="../../img/ps_07_size_250.png" alt=""></p>
        <p><img src="../../img/ps_07_size_300.png" alt=""></p>

        <!-- 중앙 하단 -->
        <p><img src="../../img/ps_08_size_100.png" alt=""></p>
        <p><img src="../../img/ps_08_size_150.png" alt=""></p>
        <p><img src="../../img/ps_08_size_200.png" alt=""></p>
        <p><img src="../../img/ps_08_size_250.png" alt=""></p>
        <p><img src="../../img/ps_08_size_300.png" alt=""></p>

        <!-- 오른쪽 하단 -->
        <p><img src="../../img/ps_09_size_100.png" alt=""></p>
        <p><img src="../../img/ps_09_size_150.png" alt=""></p>
        <p><img src="../../img/ps_09_size_200.png" alt=""></p>
        <p><img src="../../img/ps_09_size_250.png" alt=""></p>
        <p><img src="../../img/ps_09_size_300.png" alt=""></p>

    </div>

</div>