<div class="area_search">
    <div class="search_box">
        <input type="text" class="text_box acitve" placeholder="학교명을 입력해주세요">
        <button class="btn btn_search">
            <span class="sprite sprite_common sprite_search">검색아이콘</span>
        </button>
        <a href="#" class="sprite sprite_common sprite_delete btn_input_delete">지우기</a>
    </div>
</div>
<div class="wrap_search_contents"></div>