<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK School Admin</title>
    <!-- UI css -->
    <link rel="stylesheet" type="text/css" href="./../../css/ui/ui.style.css"/>
    <!-- jquery plugin -->
    <script type="text/javascript" src="./../../js/jquery/jquery-1.11.2.min.js"></script>
</head>
<body>
<section class="section_header">
    <header>
		<span class="logo">
			<a href="#"><img src="../../images/common/img_air_logo.png"></a>
		</span>

    </header>
</section>
<!-- section_contents -->
<section class="section_contents section_terms section_terms_auth clearfix">
    <!-- wrap_right -->
    <div class="wrap_right">

        <!-- wrap_contents -->
        <!-- 체크 -->
        <div class="wrap_contents wrap_terms_info">
            <div class="area_terms">
                <div class="box_indicator">
                    <div class="indicator">
                        <ul>
                            <li class="">
                                <span>약관동의</span>
                            </li>
                            <li class="none_margin_right visited">
                                <span>정보입력</span>
                            </li>
                        </ul>
                    </div>
                    <p class="indicator_desc">사용자 정보를 입력해주세요.</p>
                </div>
                <div class="box_field box_ok vertical_label">
                    <label>이름</label>
                        <input type="text" class="text_box" value="한글,영문 12자 이내">
                </div>
                <p class="txt_warning"></p>
                <div class="box_field box_ok_cell vertical_label">
                    <label>아이디(이메일)</label>
                    <div class="field_cell">
                    <input type="text" class="text_box" value="air_manager@sk.com">
                    <a href="#" class="btn">중복체크</a>
                    </div>
                </div>
                <p class="txt_warning"></p>
                <div class="box_field box_ok vertical_label">
                    <label>휴대폰</label><input type="number" class="text_box" value="01012345678">
                </div>
                <p class="txt_warning"></p>
            </div>

            <div class="area_btn align_center">
                <a href="#" class="btn btn_lg btn_gray btn_radius">이전</a>
                <a href="#" class="btn btn_lg btn_orange btn_radius">다음</a>
            </div>

        </div>

        <!-- 미체크 -->
        <div class="wrap_contents wrap_terms_info">
            <div class="area_terms">
                <div class="box_indicator">
                    <div class="indicator">
                        <ul>
                            <li class="">
                                <span>약관동의</span>
                            </li>
                            <li class="none_margin_right visited">
                                <span>정보입력</span>
                            </li>
                        </ul>
                    </div>
                    <p class="indicator_desc">사용자 정보를 입력해주세요.</p>
                </div>
                <div class="box_field box_error vertical_label">
                    <label>이름</label>
                    <input type="text" class="text_box" value="한글,영문 12자 이내">
                </div>
                <p class="txt_warning"></p>
                <div class="box_field box_error_cell vertical_label">
                    <label>아이디(이메일)</label>
                    <div class="field_cell">
                        <input type="text" class="text_box" value="air_manager@sk.com">
                        <a href="#" class="btn">중복체크</a>
                    </div>
                </div>
                <p class="txt_warning"></p>
                <div class="box_field box_error vertical_label">
                    <label>휴대폰</label><input type="number" class="text_box" value="01012345678">
                </div>
                <p class="txt_warning"></p>
            </div>

            <div class="area_btn align_center">
                <a href="#" class="btn btn_lg btn_gray btn_radius">이전</a>
                <a href="#" class="btn btn_lg btn_orange btn_radius">다음</a>
            </div>

        </div>
        <!-- //wrap_contents -->
    </div>
    <!-- //wrap_right -->
</section>
<!-- //section_contents -->
<section class="section_footer">
    <div class="footer">
        <div class="logo">
            <a href="#"><img src="../../images/common/logo_footer.png" alt="Smart Home SKT 스마트 계량기"></a>
        </div>
        <div class="box_footer">
            <ul class="clearfix">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보 취급방침</a></li>
            </ul>
            <div class="copy">
                <p>우편번호 : 100-999 서울특별시 중구 을지로 65(을지로 2가) SK T-타워 SK텔레콤(주)<span>|</span>대표이사/사장 : 장동현<span>|</span>사업자 등록번호 : 104-81-37225<span>|</span>고객센터 : 1800-0161
                    <a href="#">이메일문의</a></p>
                <p>COPYRIGHTⓒSK TELECOM CO., LTD. ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
</section>
<!-- ui library -->
<script type="text/javascript" src="./../../js/ui/ui.util.js"></script>
<script type="text/javascript" src="./../../js/ui/ui.common.js"></script>
<script type="text/javascript" src="./../../js/ui/ui.page.js"></script>
<script type="text/javascript" src="./../../js/ui/ui.init.js"></script>
</body>
</html>
