<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK School Admin</title>
    <!-- UI css -->
    <link rel="stylesheet" type="text/css" href="./../../css/ui/ui.style.css"/>
    <!-- jquery plugin -->
    <script type="text/javascript" src="./../../js/jquery/jquery-1.11.2.min.js"></script>
    <style>
        .wrap_popup.wrap_popup_login {
            position: relative;
            top: auto;
            left: 50%;
            margin-left: -250px;
        }
    </style>
</head>
<body>
<!-- 비밀번호 변경 -->
<div class="wrap_popup wrap_popup_login">
    <div class="pop_header">
        <h1>비밀번호 변경</h1>
    </div>
    <div class="pop_contents popup_none_tab_contents">
        <div class="box_field vertical_label">
            <label>현재 비밀 번호</label>
            <input type="password" class="text_box text_box_block">
        </div>
        <p class="txt_warning"></p>
        <div class="box_field vertical_label">
            <label>새 비밀 번호</label>
            <input type="password" class="text_box text_box_block" placeholder="대소문자 구분 영문,숫자 포함 8자 이상">
        </div>
        <p class="txt_warning"></p>
        <div class="box_field vertical_label">
            <label>비밀번호 재 입력</label>
            <input type="password" class="text_box text_box_block">
        </div>
        <p class="txt_warning"></p>
    </div>
    <div class="pop_btn">
        <a href="#" class="btn btn_lg btn_gray _popup_close">취소</a> <a href="#" class="btn btn_lg btn_orange">저장</a>
    </div>
</div>
<!-- //비밀번호 변경 -->

<br><br><br><br><br><br>
<!-- 비밀번호 변경 오류 -->
<div class="wrap_popup wrap_popup_login">
    <div class="pop_header">
        <h1>비밀번호 변경</h1>
    </div>
    <div class="pop_contents popup_none_tab_contents">
        <div class="box_field box_error vertical_label">
            <label>현재 비밀 번호</label>
            <input type="password" class="text_box text_box_block" value="abcdefdg">
        </div>
        <p class="txt_warning">현재 비밀번호가 맞지 않습니다. 다시 확인 해 주세요.</p>
        <div class="box_field box_error vertical_label">
            <label>새 비밀 번호</label>
            <input type="password" class="text_box text_box_block" value="abcdefdg">
        </div>
        <p class="txt_warning">입력하신 비밀번호 형식이 올바르지 않습니다. (영문,숫자,특수문자 포함 9자 이상)</p>
        <div class="box_field box_error vertical_label">
            <label>비밀번호 재 입력</label>
            <input type="password" class="text_box text_box_block" value="abcdefdg">
        </div>
        <p class="txt_warning">입력하신 비밀번호가 일치 하지 않습니다.</p>
    </div>
    <div class="pop_btn">
        <a href="#" class="btn btn_lg btn_gray _popup_close">취소</a> <a href="#" class="btn btn_lg btn_orange">저장</a>
    </div>
</div>
<!-- //비밀번호 변경 오류 -->


<!-- ui library -->
<script type="text/javascript" src="./../../js/ui/ui.util.js"></script>
<script type="text/javascript" src="./../../js/ui/ui.common.js"></script>
<script type="text/javascript" src="./../../js/ui/ui.page.js"></script>
<script type="text/javascript" src="./../../js/ui/ui.init.js"></script>
</body>
</html>
