<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK School Admin</title>
    <!-- UI css -->
    <link rel="stylesheet" type="text/css" href="./../../css/ui/ui.style.css"/>
    <!-- jquery plugin -->
    <script type="text/javascript" src="./../../js/jquery/jquery-1.11.2.min.js"></script>
</head>
<body>
<section class="section_header">
    <header>
		<span class="logo">
			<a href="#"><img src="../../images/common/img_air_logo.png"></a>
		</span>
    </header>
</section>

<!-- section_contents -->
<section class="section_contents section_login">
    <div class="wrap_login">
        <div class="area_top">
            <h2>SKT School App 회원가입</h2>
        </div>
        <div class="area_contents">
            <p class="msg">회원 가입이 완료되었습니다.</p>
            <p>관리자에게 승인요청을 하였으며,<br>관리자 승인 이후 SKT 스쿨앱 서비스를 이용하실 수 있습니다.</p>
            <a href="#" class="btn btn_lg">홈으로</a>
        </div>
    </div>
</section>
<!-- //section_contents -->
<section class="section_footer">
    <div class="footer">
        <div class="logo">
            <a href="#"><img src="../../images/common/logo_footer.png" alt="Smart Home SKT 스마트 계량기"></a>
        </div>
        <div class="box_footer">
            <ul class="clearfix">
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보 취급방침</a></li>
            </ul>
            <div class="copy">
                <p>우편번호 : 100-999 서울특별시 중구 을지로 65(을지로 2가) SK T-타워 SK텔레콤(주)<span>|</span>대표이사/사장 : 장동현<span>|</span>사업자
                    등록번호 : 104-81-37225<span>|</span>고객센터 : 1800-0161
                    <a href="#">이메일문의</a></p>
                <p>COPYRIGHTⓒSK TELECOM CO., LTD. ALL RIGHTS RESERVED.</p>
            </div>
        </div>
    </div>
</section>

<!-- ui library -->
<script type="text/javascript" src="./../../js/ui/ui.util.js"></script>
<script type="text/javascript" src="./../../js/ui/ui.common.js"></script>
<script type="text/javascript" src="./../../js/ui/ui.page.js"></script>
<script type="text/javascript" src="./../../js/ui/ui.init.js"></script>
</body>
</html>
