<div style="width: 960px; height: 540px; background: #000">

    <div class="area_red_key">
        <span>빨간버튼</span>바로보기
    </div>
    
    <div class="area_pip">
        <img src="img/img_sign_person.jpg" alt="">
    </div>

</div>