<div class="box_card _infomation">
    <p class="card_title _goToInformationDetail"><a href="#">정보<span class="sprite sprite_common sprite_more">?</span></a></p>
    <div class="info_product clearfix">
        <div class="img">
            <img src="{{deviceDetailReferDvcImgUrl}}" onerror='this.src="images/default_img.png"' alt=""></div>
        <div class="info_desc">
            <p>{{makerNm}}</p>
            <p>{{dvcKindNm}}</p>
            <span>고객센터 {{callCenterPhnNum}}</span>
        </div>
    </div>
</div>