<div class="popup_dim">

    <div class="area_red_key">
        <span>빨간버튼</span>바로보기
    </div>

    <div class="popup popup_position">
        <p><img src="../../img/img_position.png" alt=""></p>
        <div class="ps_img active _section">
            <div class="ps_01"><img src="../../img/ps_01.png" alt=""></div>
            <div class="ps_02 focus"><img src="../../img/ps_02.png" alt=""></div>
            <div class="ps_03"><img src="../../img/ps_03.png" alt=""></div>
            <div class="ps_04"><img src="../../img/ps_04.png" alt=""></div>

            <div class="ps_06"><img src="../../img/ps_06.png" alt=""></div>
            <div class="ps_07"><img src="../../img/ps_07.png" alt=""></div>
            <div class="ps_08"><img src="../../img/ps_08.png" alt=""></div>
            <div class="ps_09"><img src="../../img/ps_09.png" alt=""></div>
        </div>
    </div>

    <!--<div class="area_position _section">
        <div class="_moveFocus">
            <ul>
                <li class="focus"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>

    <div class="area_pip">
        <img src="img/img_sign_person.jpg" alt="">
    </div>

    <div class="tooltip medium"><img src="img/img_position.png" alt=""></div>-->
</div>