<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">
    <!-- section_header -->
    <section class="section_header">
        <header>
            <div class="title">슈퍼청정기</div>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->
</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">
    <div class="desktop_col">
        <div class="col_box">
    <!-- section_push_alarm -->
    <section class="section_push_alarm">
        <p class="alarm_title">
            담당 MC
        </p>
        <ul>
            <li>
                <p>홍길동</p>
            </li>
            <li>
                <p>010-1234-4567</p>
                <div class="btn_inline btn_call">
                    <button class="btn btn_md btn_skyblue">
                        <span class="sprite sprite_common sprite_call_sm"></span>
                        전화하기
                    </button>
                    <button class="btn btn_md btn_blue">
                        <span class="sprite sprite_common sprite_message"></span>
                        문자하기
                    </button>
                </div>
            </li>
        </ul>

    </section>
    <!-- //section_push_alarm -->
</div>
    </div>
</div>
<!-- //wrap_contents_area-->
</body>
</html>
