<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">
    <!-- section_header -->
    <section class="section_header">
        <header>
            <div class="title">슈퍼청정기 V16</div>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->
</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">
    <div class="desktop_col col2">
        <div class="col_box">
            <section class="section_sub_activate">
                <!-- 전원 on 시 'active' 클래스 추가 -->
                <div class="area_sub_activate active">
                    <ul class="box_air_purify_row">
                        <li class="col_02">
                            <div class="row_03">
                                <input type="radio" name="setting_wind"
                                       class="setting_air setting_radio_air sprite_wind_full">
                            </div>
                            <div class="row_03">
                                <input type="radio" name="setting_wind"
                                       class="setting_air setting_radio_air sprite_wind_strong">
                            </div>
                            <div class="row_03 none_bg_bottom">
                                <input type="radio" name="setting_wind"
                                       class="setting_air setting_radio_air sprite_wind_middle" checked>
                            </div>
                        </li>
                        <li class="col_02 none_bg_right">
                            <div class="row_03">
                                <input type="radio" name="setting_hours" class="setting_air setting_txt">
                                <label class="air_value hours hours_normal">8<span>h</span></label>
                            </div>
                            <div class="row_03">
                                <input type="radio" name="setting_hours" class="setting_air setting_txt" checked>
                                <label class="air_value hours hours_normal">4<span>h</span></label>
                            </div>
                            <div class="row_03 none_bg_bottom">
                                <input type="radio" name="setting_hours" class="setting_air setting_txt">
                                <label class="air_value hours hours_normal">1<span>h</span></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
    <div class="desktop_col col2 none_padding">
        <div class="col_box">
            <!-- section_sub_activate -->
            <section class="section_sub_activate none_border_right">
                <!-- 전원 on 시 'active' 클래스 추가 -->
                <div class="area_sub_activate active">
                    <ul class="box_air_purify_row">
                        <li class="col_02">
                            <div class="row_02 row_sm">
                                <input type="checkbox" class="setting_air setting_txt" checked><label class="air_value">자동</label>
                            </div>
                            <div class="row_02 row_lg none_bg_bottom">
                                <ul class="sub_box_row">
                                    <li class="col_02">
                                        <div class="row_02">
                                            <div class="box_icon dp_change">
                                                <!--
                                                화면전환 on
                                                sprite sprite_air_purify sprite_dp_change
                                                화면전환 off
                                                sprite sprite_air_purify sprite_dp_change_off
                                                -->
                                                <button class="sprite sprite_air_purify sprite_dp_change"></button>
                                                <div class="pagination page_2">
                                                    <span class="focus"></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row_02 none_bg_bottom">
                                            <input type="checkbox" class="setting_air setting_txt" checked><label class="air_value">급속</label>

                                        </div>
                                    </li>
                                    <li class="col_02 none_bg_right">
                                        <div class="row_02">
                                            <div class="box_icon lock">
                                                <input type="checkbox" class="setting_air sprite_lock">
                                            </div>
                                        </div>
                                        <div class="row_02 none_bg_bottom">
                                            <input type="checkbox" class="setting_air setting_txt"><label
                                                class="air_value">취침</label>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </li>
                        <li class="col_02 none_bg_right">
                            <div>

                                <input type="checkbox" class="power" checked>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- //section_sub_activate -->
        </div>
    </div>

</div>
</body>
</html>
