<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">

    <!-- section_header -->
    <section class="section_header">
        <header>
            <div class="title">슈퍼 청정기</div>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->
</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">
    <div class="desktop_col">
        <div class="col_box">
    <!-- section_push_alarm -->
    <section class="section_push_alarm">
        <ul class="area_reserv">
            <li>
                <p>오후 10:00 ~ 다음날 오전 9:00  </p>
                <span>주중(자동)</span>
                <label><input type="checkbox" class="checkbox_toggle_lg" checked=""></label>
            </li>
            <li>
                <p>오전 10:00 ~ 오후 1:15</p>
                <span>월,수,금(켜짐)</span>
                <label><input type="checkbox" class="checkbox_toggle_lg"></label>
            </li>
            <li>
                <p>오후 10:00 ~ 오후 4:30</p>
                <span>주중(취침)</span>
                <label><input type="checkbox" class="checkbox_toggle_lg" checked></label>
            </li>
            <li>
                <p>오전 10:00 ~ 오전 11:15</p>
                <span>주중(자동)</span>
                <label><input type="checkbox" class="checkbox_toggle_lg" checked></label>
            </li>
            <li>
                <p>오전 10:00 ~ 오전 11:15</p>
                <span>주중(자동)</span>
                <label><input type="checkbox" class="checkbox_toggle_lg" checked></label>
            </li>
            <li>
                <p>오전 10:00 ~ 오전 11:15</p>
                <span>주중(자동)</span>
                <label><input type="checkbox" class="checkbox_toggle_lg" checked></label>
            </li>
            <li>
                <p>마지막줄</p>
                <span>주중(자동)</span>
                <label><input type="checkbox" class="checkbox_toggle_lg" checked></label>
            </li>

        </ul>
    </section>
    <!-- //section_push_alarm -->

    <section class="section_btn bottom_btn bottom_fixed">
        <div class="area_btn btn_inline">
            <button class="btn btn_lg btn_skyblue btn_block">추가</button>
            <button class="btn btn_lg btn_blue btn_block">삭제</button>
        </div>

    </section>
        </div>
    </div>
</div>
<!-- //wrap_contents_area-->
</body>
</html>
