<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">
    <!-- section_header -->
    <section class="section_header">
        <header>
            <div class="title">슈퍼 H 청정기</div>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->
</div>
<!-- //wrap_header_area -->


<!-- wrap_contents_area -->
<div class="desktop_contents clearfix">
    <div class="desktop_col">
        <div class="col_box">
    <div class="wrap_bg_gray">
        <!-- section_push_alarm -->
        <section class="section_push_alarm">
            <ul class="area_ai">
                <li>
                    <p>AI 설정</p>
                    <span>신모델(ACL-V15,V16,V35)만 해당됩니다.</span>
                    <label><input type="checkbox" class="checkbox_toggle_lg" checked=""></label>
                </li>
            </ul>
            <ul class="area_alarm area_location top_bg">
                <li>
                    <p>위치 설정</p>

                    <label><input type="checkbox" class="checkbox_toggle_lg"></label>
                </li>
                <li>
                    <span>서울 구로구 디지털로 31길 </span>
                    <button class="btn btn_md btn_dark_gray btn_change">변경</button>
                </li>
            </ul>

        </section>
        <!-- //section_push_alarm -->
    </div>
        </div>
    </div>
</div>
<!-- //wrap_contents_area-->
</body>
</html>
