<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">
<!-- section_header -->
<section class="section_header">
    <header>
        <div class="title">위치 설정</div>
    </header>
</section>
<!-- //section_header -->
</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">
    <div class="desktop_col">
        <div class="col_box">
<section class="section_location">
    <ul>
        <li>서울 구로구 디지털로 31길</li>

    </ul>
</section>
<section class="section_map">
    <p class="sprite sprite_air_purify sprite_current"></p>
    <p class="sprite sprite_air_purify sprite_pin"></p>
</section>

<section class="section_btn bottom_btn bottom_fixed btn_area_transparent">
    <div class="area_btn">
        <button class="btn btn_lg btn_skyblue btn_block">확인</button>
    </div>
</section>
        </div>
    </div>
</div>
</body>
</html>
