<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">
    <!-- section_header -->
    <section class="section_header">
        <header>
            <div class="title">슈퍼 청정기 V100</div>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->
</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">
    <div class="desktop_col">
        <div class="col_box">
            <section class="section_tab">
                <div class="tabs tabs_col3">
                    <ul class="clearfix">
                        <li class="active"><a href="#">일</a></li>
                        <li><a href="#">주</a></li>
                        <li><a href="#">월</a></li>
                    </ul>
                </div>
            </section>

            <!--  -->
            <section class="section_graph_air">
                <p class="desc">전일 (2016. 03. 26)</p>
                <div class="area_graph">
                    <p>공기상태</p>
                    <div class="graph_desc">
                        <span class="inside">실내</span>
                        <span class="outside">실외</span>
                    </div>
                    <div class="box_graph">
                        <img src="../../../images/page/@temp_graph04.png" alt="">
                    </div>
                </div>
                <div class="area_graph">
                    <p>미세먼지 PM 10</p>
                    <div class="graph_desc">
                        <span class="inside">실내</span>
                        <span class="outside">실외</span>
                    </div>
                    <div class="box_graph">
                        <img src="../../../images/page/@temp_graph04.png" alt="">
                    </div>
                </div>
                <div class="area_graph">
                    <p>실내온도</p>

                    <div class="box_graph">
                        <img src="../../../images/page/@temp_graph05.png" alt="">
                    </div>
                </div>
                <div class="area_graph">
                    <p>실내 습도</p>

                    <div class="box_graph">
                        <img src="../../../images/page/@temp_graph05.png" alt="">
                    </div>
                </div>
            </section>
            <!-- // -->
        </div>
    </div>

<!-- //desktop_header -->

<!--<div class="desktop_col col2">
    <div class="col_box">
        <section class="section_graph_air">


        </section>
    </div>
</div>-->
<!-- //wrap_contents_area-->
</div>
</body>
</html>
