<div class="tab_dust _tab_dust">
    <ul>
        <li class="focus">
            <a href="#"  data-reqtype ="000">
                <span class="sprite sprite_icon_graph sprite_awair"></span>
                <p>어웨어<br>스코어</p>
            </a>
        </li>
        <li class="">
            <a href="#" data-reqtype ="001">
                <span class="sprite sprite_icon_graph sprite_degree"></span>
                <p>온도</p>
            </a>
        </li>
        <li class="">
            <a href="#"  data-reqtype ="002">
                <span class="sprite sprite_icon_graph sprite_humidify"></span>
                <p>습도</p>
            </a>
        </li>
        <li class="">
            <a href="#"  data-reqtype ="003">
                <span class="sprite sprite_icon_graph sprite_co2"></span>
                <p>이산화탄소</p>
            </a>
        </li>
        <li class="">
            <a href="#"  data-reqtype ="004">
                <span class="sprite sprite_icon_graph sprite_voc"></span>
                <p>VOC</p>
            </a>
        </li>
        <li class="">
            <a href="#" data-reqtype ="005">
                <span class="sprite sprite_icon_graph sprite_dust"></span>
                <p>미세먼지</p>
            </a>
        </li>

    </ul>
</div>