<div class="tab_graph col_2">
    <ul class="clearfix">
        <li class="focus _daily"><a href="#" data-type ="01">일간</a></li>
        <li class="_weekly" ><a href="#" data-type ="02">주간</a></li>
    </ul>
</div>