<div class="box_score">
    <p class="score_title">이 날의 평균</p>
    <p class="score_desc"><span>{{averagePoint}}</span>/100</p>
</div>
<div class="img_temp">
    <img src="images/@temp_air_report_graph3.png" alt="" style="width: 100%;position: absolute;bottom: 0;">
</div>