<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">
<!-- section_header -->
<section class="section_header">
    <header>
        <button class="sprite sprite_common sprite_back">뒤로</button>
        <div class="title">매직 스팀오븐</div>
        <button class="sprite sprite_common sprite_setting"></button>
    </header>
</section>
<!-- //section_header -->

<!-- section_menu -->
<section class="section_menu">
    <div class="area_menu">
        <div class="moving">
            <ul class="clearfix">
                <li><a href="#"><span>상태표시</span></a></li>
                <li class="active"><a href="#"><span>요리가이드</span></a></li>
                <li><a href="#"><span>사용통계</span></a></li>
                <li><a href="#"><span>사용설명</span></a></li>
                <li><a href="#"><span>관리이력</span></a></li>
                <li><a href="#"><span>납부정보</span></a></li>
                <li><a href="#"><span>이력 및 알림</span></a></li>
                <li><a href="#"><span>사용자 관리</span></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- //section_menu -->
</div>
<!-- //wrap_header_area -->


<!-- wrap_contents_area -->
<div class="wrap_contents_area">
<!-- section_manual -->
<section class="section_accordion">
    <ul class="accordion_list cook_list">
        <!-- 리스트 다운 펼쳤을 때 li 요소 class 추가 'focus' -->
        <li class="focus" style="background-image: url('../../../images/page/04_steam_oven/oven_img_list_01_oven.jpg');">
            <span>오븐 (51)</span> <button></button>
            <ul class="sub_list">
                <!-- 즐겨찾기 추가시 a태그에 class추가 bookmark -->
                <li>01 통닭구이 <input type="checkbox" class="toggle_cook_guide bookmark" checked></li>
                <li>02 닭날개구이 <input type="checkbox" class="toggle_cook_guide bookmark"></li>
                <li>03 치킨텐더 <input type="checkbox" class="toggle_cook_guide bookmark"></li>
                <li>04 바비큐립 <input type="checkbox" class="toggle_cook_guide bookmark"></li>
                <li>05 통삼겹살 <input type="checkbox" class="toggle_cook_guide bookmark"></li>
                <li>06 군고구마 <input type="checkbox" class="toggle_cook_guide bookmark"></li>
                <li>07 떡갈비 <input type="checkbox" class="toggle_cook_guide bookmark"></li>
                <li>08 누룽지 <input type="checkbox" class="toggle_cook_guide bookmark"></li>
                <li>08 누룽지 <input type="checkbox" class="toggle_cook_guide bookmark"></li>
            </ul>
        </li>
        <li style="background-image: url('../../../images/page/04_steam_oven/oven_img_list_02_grill.jpg');">
            <span>구이 (19)</span> <button></button></li>
        <li style="background-image: url('../../../images/page/04_steam_oven/oven_img_list_03_steam.jpg');">
            <span>스팀 (29)</span> <button></button></li>
        <li style="background-image: url('../../../images/page/04_steam_oven/oven_img_list_04_fry.jpg');">
            <span>프라이 (16)</span> <button></button></li>
        <li style="background-image: url('../../../images/page/04_steam_oven/oven_img_list_05_range.jpg');">
            <span>레인지 (7)</span> <button></button></li>
        <li style="background-image: url('../../../images/page/04_steam_oven/oven_img_list_06_dry.jpg');">
            <span>식품건조 (7)</span> <button></button></li>
        <li style="background-image: url('../../../images/page/04_steam_oven/oven_img_list_07_ferment.jpg');">
            <span>발효 (4)</span> <button></button></li>
        <li class="none_sub" style="background-image: url('../../../images/page/04_steam_oven/oven_img_list_08_warm.jpg');">
            <span>보온</span> <input type="checkbox" class="toggle_cook_guide bookmark"></li>
        <li style="background-image: url('../../../images/page/04_steam_oven/oven_img_list_09_thaw.jpg');">
            <span>해동 (2)</span> <button></button></li>
    </ul>
    <div class="top_btn">
        <a href="#"> <span class="sprite sprite_steam_oven sprite_top_btn">?</span></a>
    </div>
</section>
<!-- //section_manual -->

</div>
<!-- //wrap_contents_area-->
</body>
</html>
