<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>

<!-- 팝업 -->
<div class="popup_detail">
    <div class="popup_detail_header" style="background: #585858;">
        <span>(01/51)</span>
        <div class="title">
            <p>01 통닭구이</p>
            <p>나만의 요리01</p>
        </div>
        <div class="edit edit_sm">
            <button><span class="sprite sprite_steam_oven sprite_edit"></span>
            </button>
        </div>
        <div class="close_popup close_sm">
            <button><span class="sprite sprite_common sprite_popup_close"></span>
            </button>
        </div>
    </div>

    <!-- 나만의 요리 -->
    <div class="popup_detail_contents popup_no_bottom">
        <div class="area_detail_img"
             style="background: url('../../../images/page/04_steam_oven/oven_img_cook_01.jpg') 0 0 no-repeat; background-size: 100%;">
            <button class="pre"><span class="sprite sprite_steam_oven sprite_pre">?</span></button>
            <button class="next"><span class="sprite sprite_steam_oven sprite_next">?</span></button>
        </div>
        <div class="area_detail_guide">
            <div class="box_cook_info">
                <div class="cook_kinds">
                    <span>오븐</span>
                    <p>250˚C</p>
                </div>
                <div class="cook_setting cook_setting_self">
                    <span>+레인지</span>
                    <p>25분</p>
                </div>
                <div class="cook_position">
                    <div class="img"><img src="../../../images/page/04_steam_oven/img_oven_ps_01.png" alt=""></div>
                    <p>하단(1단)</p>
                </div>
            </div>
            <ul class="box_self_guide">
                <li><span>요리과정</span>
                    <div>
                        <p>1.닭은 꽁지를 잘라내고, 배와 껍질 안쪽에 있는 피, 기름기 등을 제거한다.</p>
                        <p>2.감자를 2~3등분하여 오븐용기에 담는다.</p>
                        <p>3.오븐용기에 구이석쇠를 올린다.</p>
                        <p>4.<span>자동요리>'1번'</span>을 선택 후 굽는다.</p>
                    </div>
                </li>
                <li><span>재료준비</span>
                    <div>
                        <p>닭 1마리(900g~1kg), 감자 2개, 허브솔프 ½ 큰술, 녹인버너 2큰술, 간장 1큰술 </p>
                    </div>
                </li>
                <li><span>포인트</span>
                    <div>
                        <ul class="guide_point">
                            <li>ㆍ오븐 기능으로만 굽고자 할 경우에는 <span>수동요리→오븐</span>을 선택하여 250℃ 45~50분 설정 후 예열 없이 조리할 수 있다.</li>
                            <li>ㆍ콤비 요리 시에는 쿠킹 호일을 절대 사용하지 않도록 한다.</li>
                            <li>ㆍ양념을 할 경우에는 양념이 탈 수 있으므로 요리완료 5분전에 양념을 발라주거나,껍질과 살사이에 양념을 바르는 것이 좋다.</li>
                        </ul>
                        <p><span>닭 비린내 제거하기</span></p>
                        <p>우유 1컵에 물 1컵, 설탕 3큰술, 월계수잎 1장을 넣고 섞은 다음 닭을 담가 한시간 정도 두었다가 물기를 빼고 구우면 비린내가 나지 않는다.</p>
                    </div>
                </li>
                <li><span>메모</span>
                    <div class="box_memo">
                        <textarea placeholder="여기에 메모를 입력합니다. 메모 입력 시에는 나만의 메뉴로 등록되지 않습니다."></textarea>
                    </div>
                </li>
            </ul>

        </div>
    </div>


</div>


<!--<div class="popup_dim_all">-->
<!--<div class="popup popup_all">-->
<!--<div class="popup_header">-->
<!--<h1>가전명</h1>-->
<!--<div class="close_popup">-->
<!--<a href="#"><span class="sprite sprite_common sprite_popup_close"></span>-->
<!--</a>7-->
<!--</div>-->
<!--</div>-->
<!--<div class="popup_contents">-->
<!--컨텐츠-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- //팝업 -->


</body>
</html>
