<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>

<!-- 팝업 -->
<div class="popup_detail">
    <div class="popup_detail_header" style="background: #585858;">
        <h1>요리별 사용 내역</h1>
        <div class="close_popup">
            <button><span class="sprite sprite_common sprite_popup_close"></span>
            </button>
        </div>
    </div>

    <div class="popup_detail_contents detail_cook_statistic">
        <div class="area_select">
            <select class="select select_block select_rounded">
                <option value="">전체</option>
            </select>
        </div>
        <p class="period">• 기간 : 2016.01.01~2016.12.31</p>
        <ul>
            <li><p>베이컨말이</p> <button>40회 <span class="sprite sprite_steam_oven sprite_cook_detail_more"></span></button></li>
            <li><p>통닭구이</p> <button>36회 <span class="sprite sprite_steam_oven sprite_cook_detail_more"></span></button></li>
            <li><p>크리스피 치킨 샐러드</p> <button>40회 <span class="sprite sprite_steam_oven sprite_cook_detail_more"></span></button></li>
            <li><p>감자튀김</p> <button>40회 <span class="sprite sprite_steam_oven sprite_cook_detail_more"></span></button></li>
            <li><p>생선구이</p> <button>40회 <span class="sprite sprite_steam_oven sprite_cook_detail_more"></span></button></li>
            <li><p>식빵</p> <button>40회 <span class="sprite sprite_steam_oven sprite_cook_detail_more"></span></button></li>
            <li><p>오징어구이</p> <button>40회 <span class="sprite sprite_steam_oven sprite_cook_detail_more"></span></button></li>
        </ul>
    </div>


</div>


<!--<div class="popup_dim_all">-->
<!--<div class="popup popup_all">-->
<!--<div class="popup_header">-->
<!--<h1>가전명</h1>-->
<!--<div class="close_popup">-->
<!--<a href="#"><span class="sprite sprite_common sprite_popup_close"></span>-->
<!--</a>7-->
<!--</div>-->
<!--</div>-->
<!--<div class="popup_contents">-->
<!--컨텐츠-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- //팝업 -->


</body>
</html>
