<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body>

<!-- section_header -->
<section class="section_header">
    <header>
        <div class="title">고온</div>
        <div class="close_popup">
            <button><span class="sprite sprite_common sprite_popup_close"></span>
            </button>
        </div>
    </header>
</section>
<!-- //section_header -->

<section class="section_question">
<div class="area_question">
<p>Q. "고온"메세지가 표시되면<br>어떻게 해야 하나요?</p>
</div>
    <div class="area_answer">
    <p>오븐 내부의 온도가 설정 온도 보다 높을 때 발생합니다.<br>오븐을 식힌 후 사용하세요.</p>
    </div>
</section>

</body>
</html>
