<div class="area_map_ps">
    <!-- 위치 활성화 시 focus 클래스 추가 -->
    <a href="#" class="sprite sprite_common sprite_map_ps focus _fnMoveMyLocation">위치</a>
    <a href="#" class="sprite sprite_common sprite_map_update _fnRefresh">새로고침</a>
</div>
<div class="area_my_school">
    <a href="#" class="sprite sprite_status sprite_my_school _mySchoolList">MY</a>
</div>

<div id="school_map" class="area_school_map"></div>
<div class="area_slide school_list_slide">
    <div class="box_slide slider clearfix"></div>
</div>
<div class="area_btn">
    <button class="btn btn_orange btn_lg btn_block _goToLocaleList"><span class="sprite sprite_common sprite_add_school">아이콘</span>내
        학교 등록
    </button>
</div>
