<h1><a href="#home"><img src="images/img_logo.png" alt=""></a></h1>
<!--<a href="#indexList" class="main_hidden">기기상세</a>-->
<a href="#" class="sprite sprite_common sprite_side_menu _openAllMenu">서브메뉴</a>
<div class="box_title_icon">
    <a href="#" class="sprite sprite_common sprite_header_search _moveToSearchSchool">검색</a>
    <a href="#" class="sprite sprite_common  _goToLocaleList {{iconLocaleMap}}">리스트</a>
</div>
