<h1>{{subHeaderTitle}}</h1>
<a href="#" class="sprite sprite_common sprite_back _btnPrevPage">뒤로</a>
{{#if isMySchoolDetail}}
<a href="#" class="icon_check check_notice _goToHistoryAlarm">이력 및 알림</a>
{{/if}}
{{#if isAirMultiSensor}}
    <input type="checkbox" class="icon_check check_class">
{{/if}}
