<div class="popup popup_delete">
    <div class="popup_contents">
        <p class="alert_desc">최근 검색 학교를<br>모두 삭제하시겠습니까?</p>
    </div>
    <div class="popup_footer">
        <div class="btn_group">
            <button class="btn _btnCancel">아니요</button>
            <button class="btn _btnConfirm">예</button>
        </div>
    </div>
</div>