<div class="popup_dim" id="searchErrorPopup">
    <div class="popup popup_full popup_error">
        <div class="popup_contents">
            <p class="">검색어를 2자 이상 입력해주세요.</p>
        </div>
        <div class="popup_footer">
            <div class="btn_group">
                <button class="btn btn_popup btn_orange _btnOkError">확인</button>
            </div>
        </div>
    </div>
</div>