<div class="popup popup_full popup_hours" id="popupSettingHoursTurnOff">
    <div class="popup_header">
        <h2>꺼짐 예약 설정</h2>
    </div>
    <div class="popup_contents">
        <p class="desc_time">설정된 시간이 지난 후 기기가 꺼집니다.</p>
        <ul class="area_timer _settingAfterHours">
            <li><a href="#" data-hours="02">2시간 후</a></li>
            <li><a href="#" data-hours="04">4시간 후</a></li>
            <li class="focus"><a href="#" data-hours="08">8시간 후</a></li>
            <li><a href="#" data-hours="12">12시간 후</a></li>
        </ul>
    </div>
    <div class="popup_footer">
        <div class="btn_group">
            <button class="btn btn_popup _closePopupSettingTImer">취소</button>
        </div>
    </div>
</div>
