<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
    <link rel="stylesheet" href="../../css/ui/ui.page.css">
</head>
<body>
<!-- wrap_header_area -->
<div class="wrap_header_area">

    <!-- section_header -->
    <section class="section_header">
        <header>
            <button class="sprite sprite_common sprite_back">뒤로</button>
            <div class="title">슈퍼미니정수기</div>
            <button class="sprite sprite_common sprite_setting"></button>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->

</div>
<!-- //wrap_header_area -->

<!-- wrap_contents_area -->
<div class="wrap_contents_area">
    <div class="wrap_section_graph">


        <!-- section_graph -->
        <section class="section_graph">
            <div class="graph_header">
                <p class="graph_title title_alone">최근 1년간 누적 취수량(4개월 단위)</p>
            </div>
            <div class="graph_box graph_box_none_txt">
                <img src="../../../images/page/@temp_graph06.png" alt="">
                <div class="box_tooltip">
                    <span>필터교체 안함</span>
                </div>
            </div>
        </section>
        <!-- //section_graph -->

        <!-- section_graph -->
        <section class="section_graph">
            <div class="graph_header">
                <p class="graph_title title_alone">캐쉬백(15개월 누적취수량 1500L 이하) </p>
            </div>
            <div class="graph_box graph_box_none_txt">
                <!-- <img src="../../../images/page/@temp_graph06.png" alt="">-->
                <table class="water_cashback">
                    <tr>
                        <td class="month">1~15개월</td>
                        <td class="water_liter">1,200 L</td>
                        <td class="cashback">-</td>
                    </tr>
                    <tr>
                        <td class="month">16~31개월</td>
                        <td class="water_liter">1,200 L</td>
                        <td class="cashback">-</td>
                    </tr>
                    <tr>
                        <td class="month">32~43개월</td>
                        <td class="water_liter">1,200 L</td>
                        <td class="cashback">적립완료</td>
                    </tr>
                    <tr>
                        <td class="month">44~55개월</td>
                        <td class="water_liter">1,200 L</td>
                        <td class="cashback">
                            <button class="btn btn_md btn_skyblue">캐쉬백적립</button>
                        </td>
                    </tr>

                </table>
            </div>
        </section>
        <!-- //section_graph -->

        <!-- section_graph -->
        <section class="section_graph">
            <div class="graph_header">
                <p class="graph_title title_alone">일 평균 음용량 (개인이 음용량을 입력한 기준) </p>
            </div>
            <div class="graph_box">
                <p class="graph_title right">
                    <span><input type="radio" class="input_radio_md input_radio_white" name="check_period" checked="">주</span>
                    <span><input type="radio" class="input_radio_md input_radio_white" name="check_period">일</span>
                </p>
                <img src="../../../images/page/@temp_graph01.png" alt="">
            </div>
        </section>
        <!-- //section_graph -->

        <!-- section_graph -->
        <section class="section_graph">
            <div class="graph_header">
                <p class="graph_title">전기 사용량</p>
                <span>최저 소비전력 슈퍼S정수기는 당사 에너지효율 3등급 정수기대비 약 70% 전기료가 절감됩니다.</span>
            </div>
            <div class="graph_box">
                <p class="graph_title left">최근 6개월(2015.10 ~ 2016.03)</p>
                <p class="graph_title right">월 평균 : 1,500원(20KW)</p>
                <img src="../../../images/page/@temp_graph01.png" alt="">
                <p class="graph_desc">주거용 주택전력(고압) 기준으로 산정되었습니다. (200kW사용기준)</p>
            </div>
        </section>
        <!-- //section_graph -->

        <!-- section_graph -->
        <section class="section_graph">
            <div class="graph_header">
                <p class="graph_title title_alone">코크 살균 (횟수)</p>
            </div>
            <div class="graph_box">
                <p class="graph_title left">최근 7일</p>
                <p class="graph_title right">일일 평균 : 4회</p>
                <img src="../../../images/page/@temp_graph07.png" alt="">
            </div>
        </section>
        <!-- //section_graph -->
    </div>

</div>
<!-- //wrap_contents_area-->
</body>
</html>
