@charset "UTF-8";

/* common style */
* {
    box-sizing: border-box
}

html * {
    max-height: 1000000px;
}
input:focus, textarea:focus, select:focus {
    outline:0;
    outline-offset: 0;
    /*background: transparent;*/
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius:0;
}
body {
    position: relative;
    font-family: HelveticaNeue-Light,AppleSDGothicNeo-Light,sans-serif;
    font-size: 10px; !important;
    line-height: 1.5em;
    color: #333;
    background: #ffffff;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    border: 0 none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 19px;
}
html, body {
    /*height: 100%;*/
}

caption, legend {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    visibility: hidden;
}

img {
    border: none;
    vertical-align: middle;
    max-width: 100%
}

select, input {
    vertical-align: middle;
    background: transparent;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius:0;
    padding: 0;
    border: none;
}

hr {
    display: none;
    border: 0 none;
}

ol, ul, ol li, ul li {
    list-style: none;
    margin: 0;
    padding: 0
}

em {
    font-style: normal;
}

menu li {
    list-style: none;
}

button {
    overflow: visible
}

span {
    outline: 0
}

p {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
    color: #333;
}

a:link, a:visited {
    text-decoration: none;
    color: #333;
}

a:hover, a:active, a:focus {
    outline: 0 none;
    text-decoration: none;
    color: #333;
}
a,button,li,input {
    -webkit-tap-highlight-color: transparent;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border-collapse: collapse
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    clear: both !important;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    clear: both;
}

.clearfix:after {
    clear: both;
}

.align_left {
    text-align: left!important;
}

.align_right {
    text-align: right!important;
}

.align_center {
    text-align: center!important;
}
/* input custom */
/*input[type="checkbox"] {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 0;
}*/


/* 스프라이트 */
.sprite {
    display: inline-block;
    vertical-align: middle;
    color: transparent;
    border: 0;
    background: none;
    font-size: 0;
    line-height: 0;
}

.sprite a {
    color: transparent;
}

.sprite_common {
    background: url("../../images/sprite_common.png") no-repeat 0 0;
    -webkit-background-size: 300px;
    background-size: 300px;
}
.sprite_product{
    background: url("../../images/product/sprite_product.png");
    -webkit-background-size: 300px;
    background-size: 300px;
}
.sprite_common.sprite_back {
    width: 10px;
    height: 17px;
    background-position: 0 0;
}

/* button */
button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border:0;
}
.btn {
    position: relative;
    display: inline-block;
    min-width: 55px;
    font-size: 13px;
    line-height: 27px;
    height: 30px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    color: #666;
    background: #fff;
}

button {
    outline: 0;
}
/* layout */
.layout {
    position: relative;
}

.layout .layout_left {
    position: absolute;
    top: 0;
    left: 0;
}

.layout .layout_center {
    text-align: center;
}

.layout .layout_right {
    position: absolute;
    top: 0;
    right: 0;
}
.layout .layout_line {
    display: inline-block;
    padding: 0 14px;
}
.bg_white {
    background: #ffffff;
}
::-webkit-scrollbar {
    display: none;
}


/* table */
table {
    border-top: #ccc 1px solid;
    margin-bottom: 15px;
}

table thead th {
    height: 30px;
    border-bottom: #ccc 1px solid;
    text-align: center;
    background: #fafafa;
}

table thead th,
table thead th a {
    font-size: 12px;
    color: #666;
    font-weight: normal;
    background: #ffffff;
}
table thead th {
    border-left: #ccc 1px solid;
}
table thead th:first-child {
    border-left:none;
}
table tbody td {
    border-bottom: #ccc 1px solid;
    height: 46px;
    /*background: #fafafa;*/
    text-align: center;
    border-left: #ccc 1px solid;
}

table tbody td:first-child {
    border-left:none;
}

table tbody td .icon_modify {
    display: inline-block;
    background: #feb164;
    color: #fff;
    border-radius: 2px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    padding: 0 3px;
}

table tbody td.align_left {
    text-align: left;
    padding: 0 12px;
}

table thead th .sort {
    display: inline-block;
    position: relative;
}

table thead th .sort:after {
    display: block;
    content: '';
    position: absolute;
    top: 8px;
    right: -9px;
    width: 5px;
    height: 3px;
    background: url("../../images/sprite_common.png") -450px 0 no-repeat;
}
table thead th .sort.active:after {
    background-position: 0 -50px;
}
table tbody td.a_line a {
    text-decoration: underline;
}
/* checkbox custom */
.icon_check {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    outline: none;
    border-radius: 0;
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
    background: url('../../images/sprite_common.png') no-repeat;
    -webkit-background-size: 250px;
    background-size: 250px;
}
.icon_check.check_notice {
    background-position: -50px 0;
    width: 16px;
    height: 20px;
}
.click_disabled{
    pointer-events: none;
}
.border_bottom{
    border-bottom:5px solid #f1f1f1
}