<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- 팝업 -->
<div class="popup_dim_all">
    <div class="popup popup_all">
        <div class="popup_header">
            <h1>체중 입력</h1>
            <div class="close_popup">
                <button><span class="sprite sprite_common sprite_popup_close"></span>
                </button>
            </div>
        </div>
        <div class="popup_contents">
            <div class="area_weight_input">
            <input type="text" class="text_box text_box_md text_box_dark text_box_block" value="56"></div>
            <button class="btn btn_lg btn_skyblue btn_block">확인</button>
            <ul class="area_contents_desc">
            <li>체중을 입력하시면 하루 동안 마셔야 하는 물의 양을 측정해 드립니다.</li>
            <li>체중을 입력하지 않으실 경우 하루 물 섭취 권장량이 목표량으로 설정됩니다. (성인 기준)</li>
            </ul>
        </div>
    </div>
</div>
<!-- //팝업 -->

<!-- section_header -->
<section class="section_header">
    <header>
        <a href="#" class="sprite sprite_common sprite_back">뒤로</a>
        <div class="title">기기명</div>
        <a href="#" class="sprite sprite_common sprite_setting"></a>
    </header>
</section>
<!-- //section_header -->

<!-- section_menu -->
<section class="section_menu">
    <div class="area_menu">
        <div class="moving">
            <ul class="clearfix">
                <li class="active"><a href="#"><span>상태표시</span></a></li>
                <li><a href="#"><span>제품작동</span></a></li>
                <li><a href="#"><span>사용통계</span></a></li>
                <li><a href="#"><span>사용설명</span></a></li>
                <li><a href="#"><span>관리이력</span></a></li>
                <li><a href="#"><span>납부정보</span></a></li>
                <li><a href="#"><span>이력 및 알림</span></a></li>
                <li><a href="#"><span>사용자 관리</span></a></li>
            </ul>
        </div>
    </div>
</section>
<!-- //section_menu -->

</body>
</html>
