<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>SK Magic</title>
    <link rel="stylesheet" type="text/css" href="../../css/ui/ui.style.css"/>
</head>
<body class="desktop">

<!-- desktop_header -->
<div class="desktop_header">

    <!-- section_header -->
    <section class="section_header">
        <header>
            <div class="title">슈퍼미니정수기</div>
        </header>
    </section>
    <!-- //section_header -->

    <!-- section_menu -->
    <section class="section_menu">
        <div class="area_menu">
            <div class="moving">
                <ul class="clearfix">
                    <li class="active"><a href="#"><span>상태표시</span></a></li>
                    <li><a href="#"><span>제품작동</span></a></li>
                    <li><a href="#"><span>사용통계</span></a></li>
                    <li><a href="#"><span>사용설명</span></a></li>
                    <li><a href="#"><span>관리이력</span></a></li>
                    <li><a href="#"><span>납부정보</span></a></li>
                    <li><a href="#"><span>이력 및 알림</span></a></li>
                    <li><a href="#"><span>사용자 관리</span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //section_menu -->

</div>
<!-- //desktop_header -->

<!-- desktop_contents -->
<div class="desktop_contents clearfix">

    <!-- section_push_alarm -->
    <section class="section_push_alarm">
        <p class="alarm_title">
            PUSH 알림
        </p>
        <ul>
            <li>
                <p>목표량 알림</p>
                <span>일일 물 섭취 목표량을 달성하지 못했을 경우,<br>오후 8시 알림을 받으실 수 있습니다.</span>
                <label class="toggle_purify_alarm"><input type="checkbox" class="checkbox_toggle_lg" checked=""></label>
            </li>
            <li>
                <p>날씨 알림</p>
                <span>미세먼지 농도 나쁨 수준이거나, 30℃ 이상,<br>0℃ 미만일 때 알림을 받으실 수 있습니다.</span>
                <label class="toggle_purify_alarm"><input type="checkbox" class="checkbox_toggle_lg"></label>
            </li>
        </ul>
    </section>
    <!-- //section_push_alarm -->
</div>
<!-- //wrap_contents_area-->
</body>
</html>
