<div class="active">
    <ul class="search_list choice_list _schoolResultList">
        {{#each schList}}
            <li><a href="#" data-school-code="{{schCd}}"><p>{{schNm}}</p></a></li>
        {{/each}}
    </ul>
</div>
<div>
    <!--<ul class="search_list choice_list">
        <li><a href="#"><p>유치원1</p></a></li>
        <li><a href="#"><p>유치원2</p></a></li>
        <li><a href="#"><p>유치원3</p></a></li>

    </ul>-->
    <p class="detail_desc">등록된 유치원이 없습니다</p>
</div>