<div class="area_local_choice locale01 _localeSelect">
    <ul>
        {{#each sidoList}}
            <li><a href="#" data-locale-code="{{sidoCd}}"><span>{{sidoNm}}</span></a></li>
        {{/each}}
    </ul>
</div>