<div class="sub_tabs _subTabs">
    <ul class="clearfix">
        <li class="focus"><a href="#">초등학교</a></li>
        <li><a href="#">유치원</a></li>
    </ul>
    {{#schListCheck schList}}
        <p class="detail_desc">등록된 초등학교가 없습니다</p>
    {{/schListCheck}}
</div>