<div class="area_local_choice locale02 _localeSelect">
    <ul>
        {{#each siguList}}
            <li><a href="#" data-locale-code="{{siguCd}}"><span>{{siguNm}}</span></a></li>
        {{/each}}
    </ul>
</div>