<div class="tab">
    <div class="tab-menu _tabs">
        <ul class="clearfix">
            <!-- step 지나갔을 시 visited 클래스 추가 -->
            <li class="focus"><a href="#">광역시/도</a></li>
            <li class ="_tabMenu2"><a href="#" >시/군/구</a></li>
            <li><a href="#">학교/유치원</a></li>
        </ul>
    </div>
    <div class="tab-contents">

    </div>
</div>